@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-BoldOblique.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'RiftSoft';
  src: url('../fonts/rift/RiftSoft-Regular.woff'),
  url('../fonts/rift/RiftSoft-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RiftSoft';
  src: url('../fonts/rift/RiftSoft-Bold.woff'),
      url('../fonts/rift/RiftSoft-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Light.ttf'),
      url('../fonts/helvetica_neue/HelveticaNeue-Light.woff'),
      url('../fonts/helvetica_neue/HelveticaNeue-Light.woff2'),
      url('../fonts/helvetica_neue/HelveticaNeue-Light.eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Roman.ttf'),
      url('../fonts/helvetica_neue/HelveticaNeue-Roman.woff'),
      url('../fonts/helvetica_neue/HelveticaNeue-Roman.woff2'),
      url('../fonts/helvetica_neue/HelveticaNeue-Roman.eot');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Medium.ttf'),
      url('../fonts/helvetica_neue/HelveticaNeue-Medium.woff'),
      url('../fonts/helvetica_neue/HelveticaNeue-Medium.woff2'),
      url('../fonts/helvetica_neue/HelveticaNeue-Medium.eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Bold.ttf'),
      url('../fonts/helvetica_neue/HelveticaNeue-Bold.woff'),
      url('../fonts/helvetica_neue/HelveticaNeue-Bold.woff2'),
      url('../fonts/helvetica_neue/HelveticaNeue-Bold.eot');
  font-weight: 700;
  font-style: normal;
}