html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $font-1;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: $color-1;
  max-width: 100vw;
  height: 100%;
  color: white;

  @include media-breakpoint-up(lg) {
    background-image: url('../images/patterns/trama-body_dp.png');
    background-size: 440px 244px;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat-x;
  }
}

* {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-width-container {
  width: 100%;
}

.centered-container {
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}

.hero {
  width: 100vw;
  position: relative;

  &__wave {
    width: 219.5px;
    position: absolute;
    top: 25%;
    right: 75%;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    margin-bottom: 25px;

    &__wave {
      right: 92%;
      top: 39%;
    }
  }
}