.equipo__container {
  color: #22275b;
  text-align: center;
  font-family: 'RiftSoft';
  position: relative;
}
.equipo__title {
  padding: 90px 0 25px 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}
.equipo__title span {
  text-decoration: underline;
  padding: 0 0 10px 0;
  font-weight: 700;
}
.equipo__description {
  max-width: 75%;
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  padding: 0 0 40px 0;
}
.equipo__description span {
  font-weight: bold;
}
.equipo__slider-container {
  position: relative;
}
.equipo__slider {
  text-align: center;
  max-width: 70vw;
  margin: 0 auto;
}
.equipo__slider-item {
  max-width: 15vw;
  margin: 0 1.25vw;
}
.equipo__slider__img {
  border-right: 1px solid #cae6e3;
}
.equipo__slider-item img {
  display: block;
  border-radius: 50%;

}

/* .equipo__slider-separador {
  height: 40%;
  width: 2px;
  background-color: black;
} */
.equipo__slider-text {
  padding: 30px 0 20px 0;
  font-weight: 700;
}
.equipo__redes {
  text-align: center;
  padding: 20px;
}
.equipo__red {
  color: #ff5c5c;
  padding: 5px 0;
  margin: 0 20px;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  letter-spacing: 0.13px;
}
.equipo__red a {
  color: inherit;
  font-weight: bold;

}
.equipo__red a span {
  line-height: 22px;
  vertical-align: middle;
}
.equipo__red:hover {
  cursor: pointer;
}
.equipo__red img {
  max-width: 22px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.equipo__blue-wave {
  position: absolute;
  bottom: 15px;
  left: -10vw;
}
.equipo__blue-wave img {
  max-height: 50px;
}
.equipo__single-hero-wave {
  position: absolute;
  bottom: 340px;
  right: -200px;
}
.equipo__single-hero-wave img {
  max-height: 25px;
}

.equipo__prev-arrow, .equipo__next-arrow {
  display: inline-block;
  height: 106px;
  width: 17px;
  cursor: pointer;
}
.equipo__prev-arrow img, .equipo__next-arrow img {
  height: 106px;
  width: 17px;
}
.equipo__prev-arrow {
  position: absolute;
  top: 3vw;
  left: 4%;
}
.equipo__next-arrow {
  position: absolute;
  top: 3vw;
  right: 4%;
}


.owl-theme .owl-dots .owl-dot.active span {
  background: #22275b !important;
}


@media (max-width: 991px) {
  .equipo__container {
    max-width: 100vw;
    overflow: hidden;
  }
  .equipo__title {
    font-size: 32px;
  }
  .equipo__title span {
    display: block;
  }
  .equipo__prev-arrow, .equipo__next-arrow {
    display: none;
  }
  .equipo__slider-item {
    max-width: 68vw;
    margin: 0 1vw;
  }
  .equipo__slider-text {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.17px;
  }
  .equipo__red {
    padding: 0 0 10px 0;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    span, img {
      vertical-align: middle;
    }
  }
}

@media (min-width: 992px) {
  .equipo__slider .owl-item {
    border-right: 1px solid #cae6e3;
  }
}

/* waves */
@media (min-width: 992px) and (max-width: 1200px) {
  .equipo__blue-wave {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .equipo__blue-wave {
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .equipo__blue-wave {
    position: absolute;
    left: -15vw;
    bottom: 230px;
  }
  .equipo__blue-wave img {
    max-height: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .equipo__prev-arrow {
    left: 10%;
  }
  .equipo__next-arrow {
    right: 10%;
  }
}
@media (min-width: 992px) {
  .owl-dots {
    display: none;
  }
}



// .owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}