.faq {
  padding-top: 80px;
}
.faq_centered-container {
  background-color: #d9f8ff;
  padding: 125px 95px 40px;
  color: #00205f;
  font-family: 'RiftSoft', sans-serif;
  position: relative;
  font-weight: normal;
  padding-top: 100px;
}

.faq__hero {
  width: 100%;
  height: 170px;
  background: url(../images/img/header-faq.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: absolute;
  top: -85px;
  left: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.faq_title {
  position: absolute;
  left: 0;
  top: -20px;
  font-weight: bold;
}

.faq_title--highlight {
  background-color: #00205f;
  color: white;
  display: inline-block;
  font-size: 24px;
  padding: 2px 6px;
  line-height: 1.2;
}

.faq_title--normal {
  padding: 10px 0px;
  font-size: 28px;
}

.faq_container {
  background-color: white;
  margin: 0 0 35px 0;
  position: relative;
  box-shadow: 5px 5px 0px -1px rgba(204,229,236,1);
}

.faq_container-title {
  border: 1.2px solid #00205f;
  font-weight: bold;
  font-size: 22px;
  background: #6cefd6 url(../images/patterns/trama-body_dp.png);
  padding: 7px 32px;
  overflow: hidden;
  background-size: 440px 244px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: repeat-x;
}

/* .faq_container-title::before {
  background-image: ;
} */

.faq_container-question {
  border: 1.2px solid #00205f;
  border-top: 0;
  padding: 28px 23px;
  font-weight: 500;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
}

.faq_container-question:hover {
  cursor: pointer;
}

.faq_container-question p {
  display: inline-block;
  font-size: 18px;
  overflow: hidden;
}

.faq_container-answer {
  display: none;
  padding: 0 29px;
  overflow: hidden;
}

.faq_container-answer p {
  overflow: hidden;
  padding: 20px 0 4px;
  line-height: 1.3;
  width: 100%;
  font-size: 14px;
}

.faq_container-answer p span {
  font-weight: bold;
}

.faq_arrow {
 float: right;
 height: 17px;
 width: 26px;
 padding: 6px 0;
}

.faq_arrow img {
  height: 9px;
  width: 14px;
}

.faq_vertical-transform {
  transform: rotateZ(180deg);
}



.faq_contact-form {
  background-color: #d9f8ff;
  overflow: hidden;
  position: relative;
}

.faq_contact-title {
  padding: 25px 0;
  font-size: 24px;
  font-weight: 500;
  background-color: #d9f8ff;
  overflow: hidden;
}

.faq_contact-title span {
  font-size: 26px;
  font-weight: 700;
}

.faq_contact-input {
  padding: 10px 2px;
  border: none;
  background-color: #d9f8ff;
  font-weight: 600;
  color: #00205f;
  width: 100%;
}

::placeholder {
  color: #00205f;
}

input:focus, textarea:focus {
  outline: none;
}

.faq_input-email {
  background-color: #d9f8ff;
  display: inline-block;
  border-bottom: 2px solid #00205f;
  width: 48%;
  font-size: 16px;
}

.faq_input-email:focus {
  background-color: white;
}

.dropdown-country {
  float: right;
  width: 48%;
  position: relative;
  margin: 2px 0 0 0;
  font-size: 16px;
}

.dropdown-country:not(.is-multiple)::after {
  border: 1px solid #00205f;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}

.dropdown-country select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  outline: none;
}

.faq_input-message {
  padding: 42px 0;
  position: relative;
}

.faq_input-message textarea {
  resize: none;
  width: 100%;
  padding: 25px 35px;
  background-color: white;
  min-height: 150px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

#chars-left {
  float: right;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 0;
  position: absolute;
  bottom: 42px;
  right: 15px;
}

#char-count {
  font-weight: 400;
}

.faq_submit {
  background-color: #FF5C5D;
  color: white;
  max-width: 150px;
  border-radius: 40px;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.faq_submit:hover {
  background: #FF7575;
}

.faq_input-email input {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22.7px;
  font-weight: 600;
}

.dropdown-country {
  margin: 0;
}

.dropdown-country select {
  background: transparent;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  border-bottom: 2px solid #00205f;
  border-radius: 0;
  color: #00205f;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 2px;
  line-height: 22.7px;
  height: auto;

  &::-ms-expand {
    display: none;
  }
}

.dropdown-country select option {
  font-family: "Helvetica Neue", sans-serif;
  color: #00205f;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.7px;
}





@media (min-width: 991px) and (max-width: 1050px) {
  .faq_container-question p {
    max-width: 90%;
  }
}
@media (min-width: 991px) {

  .faq_title--highlight {
    font-size: 28px;
  }
  .faq_title--normal {
    font-size: 40px;
    padding: 16px 0;
  }
  .faq__hero {

    right: 0px;
    top: -85px;
    width: 100%;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

@media (max-width: 991px) {
  .faq_centered-container {
    padding: 110px 12px 18px 12px;
  }
  .faq_title {
    position: relative;
    margin-bottom: 24px;
    top: 0px;
  }

  .faq_title p {
    font-size: 24px;
  }
  .faq_title span {
    font-size: 28px;
  }
  .faq_container-title {
    font-size: 16.5px;
  }
  .faq_container-question p {
    max-width: 80%;
  }
  .faq_contact-title {
    font-size: 26px;
  }
  .faq_contact-form {
    text-align: center;
  }
  .faq_input-email {
    width: 100%;
  }
  .dropdown-country {
    width: 100%;
  }
  input[type=submit] {
    float: none;
    font-size: 14px;
  }
  .faq_container-question {
    padding: 12px;
  }
  .faq_container-question, .faq_container-question p {
    font-size: 14px;
    line-height: 1.2;
  }
  .faq_container-answer {
    padding: 0px;
    font-size: 12px;
  }
  .faq_input-message textarea {
    padding: 12px 12px 35px 12px;
  }
  .faq_contact-form {
    input, select, textarea {
      font-size: 14px;
    }
  }
  .faq_input-email, .dropdown-country {
    float: none;
  }
  // .faq_container-answer p span {
  //   font-size: 10.5px;
  // }
  .dropdown-country {
    margin: 28px 0 0px;
  }
}