.hero--interna_paquete {
  height: calc((100vw * 600) / 640);
  background-image: url('../images/banners/interna_paquete_mb.png');

  @include media-breakpoint-up(lg) {
    height: calc((100vw * 460.5) / 1136);
    background-image: url('../images/banners/interna_paquete_dp.png');
    margin-bottom: 0px;
  }

  @include media-breakpoint-up(xl) {
    height: calc((80vw * 460.5) / 1136);
  }
}


.main {
  font-size: 16px;
  color: $color-1;
  font-family: $font-3;
  padding: 20px;

  @include media-breakpoint-up(lg) {
    background-image: url('../images/shapes/corner-deco.png');
    background-size: 235px 131.5px;
    background-position-x: 100%;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding-top: 45px;
  }

  @include media-breakpoint-up(xl) {
    padding: 20px 0px;
    padding-top: 45px;
  }

  & h1, h2, h3 {
    font-family: $font-2;
    font-weight: 700;
    color: $color-3;
    text-transform: uppercase;
  }

  & h4 {
    font-weight: 700;
  }
}
.heading {

  &__title {
    font-size: 28px;
    letter-spacing: 0.23px;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      line-height: 26.2px;
      letter-spacing: 0.2px;
      margin-bottom: 10px;
    }
  }

  &__left {
    @include media-breakpoint-up(lg) {
      float: left;
      max-width: 67%;
      border-bottom: 1px solid $color-1;
    }
  }

  &__share {
    padding: 15px 12.5px;
    border-bottom: 1px solid $color-1;

    @include media-breakpoint-up(lg) {
      border-bottom: none;
    }

    &__item {
      float: left;
      margin-right: 27px;

      &__link {
        float: left;
        margin-right: 10px;

        & i {
          font-size: 21px;
          color: $color-1;

          @include media-breakpoint-up(lg) {
            font-size: 22px;
          }
        }
      }
      &__label {
        float: left;
        line-height: 21px;
        font-size: 13px;
        color: $color-1;

        @include media-breakpoint-up(lg) {
          font-size: 14px;
        }
      }
    }
  }

  &__descripcion {
    font-size: 13px;
    letter-spacing: 0.13px;
    padding: 20px 10px 20px 0px;
    line-height: 15px;

    & span {
      font-weight: 700;
    }

    @include media-breakpoint-up(lg) {
      line-height: 22.7px;
      font-size: 16px;
      letter-spacing: 0.8px;
      padding-bottom: 25px;
    }
  }

  &__ideal {
    border-bottom: 1px solid $color-1;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      float: left;
      padding-bottom: 29px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: none;
    }

  }

}

.ideal {
  &__text {
    float: left;
    line-height: 50px;
    margin-right: 13px;
    font-weight: 700;
    font-size: 13px;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 61px;
    }
  }

  &__icons {
    float: left;

    &__icon {
      float: left;
      position: relative;

      & a {
        margin-right: 10px;
        color: $color-1;

        & img {
          height: 50px;

          @include media-breakpoint-up(lg) {
            height: 61px;
          }
        }
      }

      &__tooltip {
        position: absolute;
        top: -50%;
        width: 90%;
        text-align: center;
        transform: translate(0, 50%);
        padding: 5px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-2;
        color: $color-1;
        background-color: $color-2;
        font-weight: 700;
      }

      &:hover .ideal__icons__icon__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.detalle {

  &__left-container {
    @include media-breakpoint-up(lg) {
      max-width: 67%;
    }

  }
}

.items-incluidos {
  border-bottom: 1px solid $color-1;
  padding: 22.5px 0px 17.5px 0px;

  &__item {
    width: 50%;
    float: left;
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      width: 20%;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 46.8px;
      height: 39px;

      @include media-breakpoint-up(lg) {
        width: 39px;
        height: 32.5px;
        background-position: center;
        background-size: contain;
      }

    }

    &__label {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      font-weight: 700;

      @include media-breakpoint-up(xxl) {
        font-size: 16px;
      }
    }
  }
}

.items-incluidos__item__label {
  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}

.ticket {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  right: 0;
  // max-height: 484px;
  max-width: 100vw;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.isOpen {
    & .ticket__detail__estimado {
      padding-bottom: 7.5px;
    }
  }

  &__detail {
    background-color: $color-3;
    position: relative;
    font-size: 12px;
    padding: 10px 11px;
    padding-bottom: 0px;

    @include media-breakpoint-up(lg){
      padding: 25px 32px;
      padding-bottom: 120px;
    }

    & .paquete__lugares-disponibles {
      border-bottom: none;
      color: #ffffff;
      @include media-breakpoint-up(lg) {
        border-bottom: 1px solid rgba(255,255,255,0.4);
        padding: 8.5px 15px 11.5px 15px;
      }
    }

    &__estimado {
      border-bottom: 1px solid rgba(255,255,255,0.4);
      padding-bottom: 7.5px;
      padding-bottom: 40px;
      max-width: 100%;
      @include media-breakpoint-up(lg){
        padding: 0px 11px;
        padding-bottom: 25px;
      }
    }

    &__desgloce {
      width: 100%;
      padding-top: 8px;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      padding-bottom: 8px;
      display: none;

      @include media-breakpoint-up(lg){
        padding: 0px 11px;
        padding-bottom: 23px;
        padding-top: 19px;
        display: block;
      }

      &--hidden {
        @include media-breakpoint-up(lg){
          display: none !important;
        }

      }
    }

    &__reserva-btn {
      background-color: $color-6;
      color: #ffffff;
      border-radius: 50px;
      text-align: center;
      position: absolute;
      font-size: 13px;

      @include media-breakpoint-up(lg){

      }

      &--dp {
        display: none;
        @include media-breakpoint-up(lg) {
          display: inline-block;
          bottom: 25px;
          left: 50%;
          width: 80%;
          transform: translate(-50%, 0);
          padding: 20px 0px;
          font-size: 16px;
          line-height: 21.5px;

          &:hover {
            background-color: #FF7575;
          }

          & span {
            font-weight: 700;
          }

          & .rift {
            font-family: $font-2;
            font-size: 20px;
          }
        }
      }
      &--mb {
        display: inline-block;
        top: 10px;
        right: 11px;
        line-height: 13px;
        font-size: 13px;
        padding: 7px 20px;

        & span {
          font-weight: 700;
          font-family: $font-2;
          line-height: 26px;
          font-size: 24px;

          &.isSmaller {
            font-size: 18px;
          }
        }
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }


  }

  & .paquete__lugares-disponibles {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  & .paquete__consultas {
    @include media-breakpoint-down(lg) {
      padding-bottom: 30px;
      display: none;
    }
  }

  &__ocultar-detalle--mb {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;
    color: #ffffff;
    opacity: 1;
    white-space: nowrap;
    font-size: 13px;

    &.isOpen {
      color: $color-3;
    }

    & img {
      height: 15px;
      margin-right: 5px;
      vertical-align: middle;

      &.open {
        display: none;
      }
    }

    & span {
      vertical-align: middle;
    }

    &.isOpen img.open {
      display: inline;
    }

    &.isOpen img.closed {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &--sticky-dp-top {
    position: fixed;
    top: 81px;
    left: 0px;
    width: 100%;

    .ticket__sticky-center {
      max-width: 1140px;
      margin: auto;
      position: relative;

      @media (max-width: 1200px) {
        margin: 0px 20px;
      }
    }
    .ticket__sticky-width {
      position: absolute;
      width: 30%;
      right: 0px;
      top: 0px;
      @media (max-width: 1200px) {
        // right: 20px;
      }
    }


  }

  &--sticky-dp-bot {
    position: absolute;
    bottom: 0 !important;
  }

  &--top {
    top: 0;
  }

  &__blue-div--mb {
    background-color: $color-7;
    height: 40px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

}

.desgloce {

  &__item {

    &__label {
      float: left;
      color: #a2e6ff;
      letter-spacing: 0.14px;
    }

    &__cantidad {
      float: right;
      color: #a2e6ff;
      letter-spacing: 0.14px;
    }
  }
}

.estimado {

  &__label-dp {
    display: none;
    color: $color-6;
    font-weight: 700;
    line-height: 16px;
    @include media-breakpoint-up(lg) {
      display: initial;
    }

  }
  &__label-mb {
    display: initial;
    line-height: 15px;
    @include media-breakpoint-up(lg) {
      display: none;
    }

  }
  &__precio {
    font-size: 24px;
    font-family: $font-2;
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      font-size: 30px;
      line-height: 28.5px;
    }

  }
  &__imp {
    color: #86d9fb;
    font-family: $font-2;
    font-size: 17.5px;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-size: 20px;
      line-height: 28.5px;
    }

  }

  &__ocultar-detalles--dp {
    display: none;

    &:before {
      content: "Ver";
      display: block;
      transition: all 0.5s;
      position: absolute;
      top: -15px;
      left: 3px;
    }

    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 27px;
      color: #a2e6ff;
      font-size: 12px;
      line-height: 15px;
    }

    &.isOpen:before {
      content: " Ocultar";
      display: block;
      transition: all 0.5s;
      position: absolute;
      top: -15px;
      left: 3px;
    }
  }
}


.section-info-importante, .section-excursiones {
  padding-top: 45px;
}


.modulo-excursiones_title {
  font-family: 'RiftSoft';
  color: #00aeef;
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 22px 0;
}
.modulo-excursiones_checklist {
  font-weight: bold;
  color: #22275b;
  font-family: 'Helvetica Neue';
}
.modulo-excursiones_checklist div {
  margin: 0 0 12px 0;
}
.modulo-excursiones_checklist input {
  margin: 0 12px 0 6px;
}
.modulo-excursiones_checklist span {
  font-weight: 400;
}

.modulo-excursiones_checklist  {

  label {
    // cursor: pointer;
  }


  input {
    display: none;
  }
  input + label:before {
    // position: absolute;
    font-family: "Font Awesome 5 Free";
    width: 20px;
    line-height: 20px;
    margin-right: 10px;
    content: "\f14a";
  }

  input:checked + label:before { content: "\f14a"; } /* checked icon */

  .custom-checkbox--right {
    padding-right: 20px;
  }
}



.info-importante {
  display: block;
  border: 2px solid #22275b;
  color: #22275b;
  font-family: 'RiftSoft';
  font-size: 16px;
  max-width: 900px;
}
.info-importante_title {
  padding: 19px 32px;
  border-bottom: 1px solid #22275b;
  font-weight: bold;
  font-size: 24px;
}
.info-importante_title img {
  max-height: 33px;
  padding-right: 16px;
  display: inline-block;
  vertical-align: middle
}
.info-importante_title div {
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
}
/* general */
.info-importante .bold {
  font-weight: 700;
}
.info-importante .blue {
  color: #00aeef;
  display: block;
  margin: 0 0 16px 0;
  font-size: 24px;
}
.info-importante p {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 1.4;
}

/* end general */
.info-importante_box {
  padding: 35px 30px;
}
.info-importante_dni {
  padding: 0 0 32px 0;
}
.info-importante_dni .blue {
  font-weight: bold;
}
.info-importante_dni .bold {
  font-family: 'Helvetica Neue';
  font-size: 20px;
}
.info-importante__item {
  width: 50%;
  margin: 0 0 30px 0;
  padding: 0 50px 0 0;
  float: left;
  @media(max-width: 991px) {
    width: 100%;
    float: none;
  }
}
.info-importante_content-promos span {
  display: block;
}
.info-importante_content-operador span {
  display: block;
}


.isCollapsed {
  display: none;
}