.hero--intermedia {
  height: calc((100vw * 600) / 640);
  background-image: url('../images/banners/intermedia_mb.jpg');

  @include media-breakpoint-up(lg) {
    height: calc((100vw * 460.5) / 1136);
    background-image: url('../images/banners/intermedia_dp.jpg');
  }

  @include media-breakpoint-up(xl) {
    height: calc((80vw * 460.5) / 1136);
  }
}

.paquete-principal {

  @include media-breakpoint-up(lg) {
    margin-bottom: 27px;
  }

  &__info {
    &__left {

      @include media-breakpoint-up(lg) {
        float: left;
        width: 67%;
        margin-right: 0;
      }

      @include media-breakpoint-between(lg, xl) {
        padding-left: 20px;
      }

      &__top {
        padding: 20px 0px;
        border-bottom: 1px solid $color-1;
        margin: 0px 20px;

        @include media-breakpoint-up(lg) {
          margin-left: 0;
          border-bottom: none;
          padding: 14.25px 0px;
          height: 87.5px;
        }

        & h1 {
          font-family: $font-2;
          font-size: 28px;
          font-weight: 700;
          line-height: 31.65px;
          color: $color-3;
          text-transform: uppercase;
          white-space: normal;
          margin-bottom: 15px;

          @include media-breakpoint-up(lg){
            font-size: 40px;
            line-height: 26.2px;
            letter-spacing: 0.2px;
          }
        }

        &__share {
          height: 18px;

          & a {
            color: $color-1;
            & i {
              font-size: 18px;
              float: left;
              vertical-align: middle;

              @include media-breakpoint-up(lg) {
                font-size: 19px;
              }
            }

            & p {
              line-height: 18px;
              font-size: 13px;
              margin-left: 10px;
              float: left;
              font-family: $font-3;
              color: $color-1;
  
              @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 19px;
              }
            }
          }
        }
      }
    }

    &__right {
      @include media-breakpoint-up(lg) {
        float: right;
        width: 31%;
        height: 217.5px;
      }
    }
  }

  &__descripcion {
    padding: 20px 0px;
    margin: 0 20px 10px 20px;

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      padding-right: 34px;
      padding-bottom: 40.5px;
      margin-bottom: 0;
      border-bottom: 1.5px solid $color-1;
      padding-top: 0;
    }

    & p {
      font-size: 13px;
      color: $color-1;
      letter-spacing: 0.26px;
      font-family: $font-3;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 22.9px;
        letter-spacing: 0.8px;
      }

      & span {
        font-family: $font-3;
        font-weight: 700;
      }
    }
  }

}

.tours {
  background-color: $color-5;
  padding: 25px 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 50px;
  }

  &__categoria {

    &__header {
      margin: 0 auto;
      margin-bottom: 14px;

      &__icon {
        width: 37px;
        float: left;
        margin-right: 2.5px;
      }

      &__title {
        float: left;
        font-family: $font-2;
        font-weight: 700;
        font-size: 18px;
        color: white;
        background-color: $color-1;
        line-height: 26.2px;
        margin: 5.5px 0;
        padding: 0 13.5px 0 7px;
      }

      &__arrow {
        float: right;
        height: 17px;
        width: 26px;
        padding: 6px 0;

        & img {
          height: 10.5px;
          width: 19px;
        }

        &--v-transform {
          transform: rotateZ(180deg);
        }
      }
    }
  }
}

.tours .ver-mas {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.tour {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}

.otros-destinos {
  background-color: $color-5;
  padding-top: 31.5px;
  padding-bottom: 36px;
  display: none;

  @include media-breakpoint-up(lg) {
    padding-left: 20px;
    display: block;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 10%;
  }

  &__header {
    @include media-breakpoint-up(xl) {
      margin-right: 10vw;
    }

    &__title {
      font-size: 28px;
      color: $color-1;
      font-family: $font-2;
      text-transform: uppercase;
      letter-spacing: 0.17px;
      font-weight: 700;
      margin-bottom: 15px;
      line-height: 24.8px;
      float: left;
    }
  }



  &__lista {
    background-color: $color-5;
    width: 100%;
    max-height: 475.5px;
    overflow-y: hidden;


  }

  &__destino {
    background-color: white;
    width: 430px;
    float: left;
    height: 472px;
    margin-right: 28.5px;
    box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 3.5px;
  }

  & .ver-mas {
    float: right;
    padding-right: 15px;

    & a {
      padding: 5px 30px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 10vw;
    }
  }
}

.destino {

  &__foto {
    width: 430px;
    height: 242.5px;
  }

  &__data {

    &__top {
      color: $color-1;
      padding: 20px 25px;
      border-bottom: 1.5px solid #eaf5f4;
      height: 113px;

      &__title {
        font-family: $font-2;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.13px;
        margin-bottom: 13.5px;
      }

      &__descripcion {
        font-family: $font-3;
        font-size: 14px;
        letter-spacing: 0.15px;
      }
    }

    &__bottom {
      padding: 5px 20px 15px 20px;
      height: 114px;
    }
  }
}

.paquete__info--otros-destinos {
  right: 15px;
  bottom: 50%;
  transform: translate(0, 50%);
}



