.body-proximos {
  background-image: url('../images/patterns/trama-body_dp.png');
  background-size: 440px 244px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: repeat-x;
  z-index: 3;
}

.tours--proximos {

  @include media-breakpoint-up(lg) {
    width: 75%;
    float: right;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.filters--proximos {
  @include media-breakpoint-up(lg) {
    width: 23%;
    float: left;
  }
}

.main-top {
  background-color: #d9f8ff;
  margin-bottom: 27px;

  @include media-breakpoint-up(lg) {
    padding-top: 30px;
  }
}

.header-placeholder {
  height: 47px;

  @include media-breakpoint-up(lg) {
    height: 81px;
  }
}

.title-section {
  position: relative;
  min-height: 250px;
  z-index: 0;
  width: 100vw;

  @include media-breakpoint-up(lg) {
    width: 100%;
    min-height: 163px;
  }

  &__avion {
    width: 100vw;
    height: calc((100vw * 130) / 320);
    position: relative;

    @include media-breakpoint-up(lg) {
      width: 40%;
      height: 163px;
      float: right;
    }
    @include media-breakpoint-up(xl) {
      width: 45%;
    }

    &__content {

      &__color {
        background-color: #d9f8ff;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        z-index: 1;

        @include media-breakpoint-up(lg) {
          height: 40%;
        }
      }

      &__deco {
        width: 100vw;
        height: calc((100vw * 130) / 320);
        background-image: url('../images/banners/decoracion_mb.png');
        background-position-x: center;
        background-position-y: 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 2;
        opacity: 1;
        position: absolute;
        bottom: 0;
        right: 0;

        @include media-breakpoint-up(lg) {
          width: 204px;
          width: 54%;
          max-width: 100%;
          background-image: url('../images/banners/trama.png');
          bottom: -11px;
        }
      }

      &__nubes {
        display: none;

        @include media-breakpoint-up(lg) {
          background-image: url('../images/banners/nubes.png');
          background-position-x: center;
          background-position-y: 100%;
          background-repeat: no-repeat;
          background-size: 100% auto;
          z-index: 3;
          opacity: 1;
          position: absolute;
          width: 100%;
          bottom: -43px;
          right: 0;
          display: block;
          height: 119px;
        }
      }

      &__avion {
        width: 82.65vw;
        margin: 0 auto;
        height: calc((100vw * 193) / 640);
        min-height: 96px;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        background-image: url('../images/banners/avion_mb.png');

        @include media-breakpoint-up(lg) {
          width: 82.65%;
          height: auto;
          background-image: url('../images/banners/avion_dp.png');
        }
      }
    }
  }

  &__titles {
    height: 120.5px;
    background-color: #d9f8ff;
    color: $color-1;
    font-family: $font-2;
    font-weight: 700;
    padding: 17px 20px;
    position: relative;

    @include media-breakpoint-up(lg) {
      width: 60%;
      height: 163px;
      float: left;
      background: transparent;
      padding: 17px 0px;
    }

    @include media-breakpoint-up(xl) {
      width: 55%;
    }

    &__color {
      background-color: #d9f8ff;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      z-index: 1;
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        height: 40%;
      }
    }


    & p {
      background-color: $color-1;
      color: white;
      font-size: 24px;
      line-height: 26.2px;
      display: inline;
      letter-spacing: 0.12px;
      padding: 0px 17px 0px 6.5px;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        margin-top: 58px;
        opacity: 1;
        z-index: 3;
        position: absolute;
        font-size: 28px;
        left: 20px;
      }

      @include media-breakpoint-up(xl) {
        left: 0;
      }
    }

    & h1 {
      font-size: 28px;
      line-height: 26.5px;
      letter-spacing: 0.23px;
      margin-top: 7px;

      @include media-breakpoint-down(lg) {
        max-width: 300px;
      }

      @include media-breakpoint-up(lg) {
        position: absolute;
        margin-top: 100px;
        z-index: 3;
        font-size: 40px;
        white-space: nowrap;
        left: 20px;
      }

      @include media-breakpoint-up(xl){
        left: 0;
      }
    }
  }
}

.tours__categoria__header--proximos {
  border-bottom: 1.5px solid $color-3;

  & .tours__categoria__header__title {
    background: none;
    color: $color-3;
    font-size: 22.5px;
    line-height: 26.2px;

    @include media-breakpoint-up(lg) {
      font-size: 30px;
      margin-top: 0px;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.ademas {
  background-color: #d9f8ff;
  padding-bottom: 48px;
  width: 100%;
  max-width: 100vw;
  padding-top: 26px;

  @include media-breakpoint-up(lg) {
    width: 75%;
    position: absolute;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
  }

  &__title {
    color: $color-1;
    text-transform: uppercase;
    font-size: 28px;
    font-family: $font-2;
    font-weight: 700;
    margin-bottom: 0px;
    margin: 0 auto;
    width: 90vw;

    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
  }
}

.ademas-item {
  color: $color-1;
  font-family: $font-3;
  font-size: 13px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 18.5px;

  @include media-breakpoint-up(lg) {
    box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
    max-width: 813.5px;
    margin-bottom: 23px;
    margin-top: 15px;
  }

  &__foto {
    background-image: url('../images/img/sku_mb.png');
    width: 90vw;
    height: calc((90vw * 332) / 598);
    position: relative;

    @include media-breakpoint-up(lg) {
      height: 203.5px;
      float: left;
      width: 44%;
      max-width: 360px;
    }
  }
  &__info {
    padding: 16px 10.5px 20px 5px;
    width: 90vw;

    @include media-breakpoint-up(lg) {
      float: left;
      width: 56%;
      padding-top: 14px;
      padding-left: 10.5px;
      max-width: 453.5px;
    }
    &__heading {
      border-bottom: 1.5px solid#eaf5f4;
      @include media-breakpoint-up(lg) {
        border-bottom: none;
      }
    }
    &__body {
      overflow: hidden;
      border-bottom: 1.5px solid#eaf5f4;
      @include media-breakpoint-up(lg) {
        border-bottom: none;
      }
    }
    &__footer{

    }
  }

  &__title-container {
    padding-left: 12.5px;
    &__title {
      font-family: $font-2;
      font-weight: 700;
      font-size: 19px;
      max-width: 200px;
      margin-bottom: 15px;

      @include media-breakpoint-up(lg) {
        max-width: 100%;
        font-size: 22px;
        margin-bottom: 0px;
      }
    }
    &__arrow {
      background-image: url(../../assets/images/icon/red-down.png);
      width: 13.5px;
      height: 7.5px;
      position: absolute;
      right: 18px;
      bottom: 15px;
      @include media-breakpoint-up(lg) {
        display: none;
      }

      &.isOpen {
        transform: rotateZ(180deg);
      }
    }
  }
  &__description {
    padding-left: 12.5px;
    padding-top: 12px;
    padding-bottom: 12px;

    @include media-breakpoint-up(lg) {
      padding-top: 13.5px;
    }

    &__text {
      font-size: 13px;

      @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 16px;
        max-width: 363px;
      }
    }
  }
  &__prox {
    padding-top: 30px;
    padding-bottom: 11px;
    padding-left: 12.5px;
    @include media-breakpoint-up(lg) {
      padding-bottom: 6px;
    }

    &__text {
      font-family: $font-2;
      font-weight: 700;
      color: $color-3;
      font-size: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 37px;
      }
    }
  }

  &__more-info--mb {
    height: 44.5px;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding-right: 3px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__more-info--dp {
    display: none;

    &:hover {
      background-color: #FF7575;
    }
    @include media-breakpoint-up(lg) {
      display: inline;
      background-color: $color-6;
      color: #ffffff;
      font-size: 17px;
      padding: 12.5px 27px;
      border-radius: 20px;
      position: absolute;
      bottom: 5px;
      right: 0;
      text-align: center;
    }
  }
}