/*-------------*/
/* BREAKPOINTS */
/*-------------*/
/*-------*/
/* FONTS */
/*-------*/
/*--------*/
/* COLORS */
/*--------*/
/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*----------------*/
/* HELPER CLASSES */
/*----------------*/
.clearfix:after, .tags:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.relative {
  position: relative; }

.center {
  margin: 0 auto; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Oblique.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-BoldOblique.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'RiftSoft';
  src: url("../fonts/rift/RiftSoft-Regular.woff"), url("../fonts/rift/RiftSoft-Regular.woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'RiftSoft';
  src: url("../fonts/rift/RiftSoft-Bold.woff"), url("../fonts/rift/RiftSoft-Bold.woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica_neue/HelveticaNeue-Light.ttf"), url("../fonts/helvetica_neue/HelveticaNeue-Light.woff"), url("../fonts/helvetica_neue/HelveticaNeue-Light.woff2"), url("../fonts/helvetica_neue/HelveticaNeue-Light.eot");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica_neue/HelveticaNeue-Roman.ttf"), url("../fonts/helvetica_neue/HelveticaNeue-Roman.woff"), url("../fonts/helvetica_neue/HelveticaNeue-Roman.woff2"), url("../fonts/helvetica_neue/HelveticaNeue-Roman.eot");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica_neue/HelveticaNeue-Medium.ttf"), url("../fonts/helvetica_neue/HelveticaNeue-Medium.woff"), url("../fonts/helvetica_neue/HelveticaNeue-Medium.woff2"), url("../fonts/helvetica_neue/HelveticaNeue-Medium.eot");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica_neue/HelveticaNeue-Bold.ttf"), url("../fonts/helvetica_neue/HelveticaNeue-Bold.woff"), url("../fonts/helvetica_neue/HelveticaNeue-Bold.woff2"), url("../fonts/helvetica_neue/HelveticaNeue-Bold.eot");
  font-weight: 700;
  font-style: normal; }
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #22275b;
  max-width: 100vw;
  height: 100%;
  color: white; }
  @media (min-width: 992px) {
    body {
      background-image: url("../images/patterns/trama-body_dp.png");
      background-size: 440px 244px;
      background-position-x: 0px;
      background-position-y: 0px;
      background-repeat: repeat-x; } }

* {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.full-width-container {
  width: 100%; }

.centered-container {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .centered-container {
      max-width: 1140px; } }

.hero {
  width: 100vw;
  position: relative; }
  .hero__wave {
    width: 219.5px;
    position: absolute;
    top: 25%;
    right: 75%; }
  @media (min-width: 992px) {
    .hero {
      width: 100%;
      margin-bottom: 25px; }
      .hero__wave {
        right: 92%;
        top: 39%; } }

.ver-mas {
  text-align: center; }
  .ver-mas--dp {
    display: none; }
    @media (min-width: 992px) {
      .ver-mas--dp {
        display: block; } }
  @media (min-width: 992px) {
    .ver-mas--mb {
      display: none; } }
  .ver-mas__btn {
    border: 2px solid #ff5c5c;
    font-size: 13px;
    letter-spacing: 0.16px;
    border-radius: 20px;
    color: #ff5c5c;
    font-family: "Helvetica Neue", sans-serif;
    padding: 5px 35px;
    display: inline-block;
    font-weight: 700; }

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.42857143;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none; }
  .button--red, .button--primary {
    border-color: #ff5c5c;
    background: #ff5c5c;
    color: #FFF; }
    .button--red:hover, .button--primary:hover {
      background: #FF7575; }
  .button--secondary {
    background: transparent;
    color: #FFF;
    border-color: #FFF; }

.paquete {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%; }
  @media (min-width: 992px) {
    .paquete {
      width: auto; } }
  .paquete:last-child {
    margin-bottom: 30px; }
  .paquete__data {
    padding: 16px 10.5px 12px 5px;
    width: 100%; }
    @media (min-width: 992px) {
      .paquete__data {
        padding: 16px 13px 12px 13px;
        float: left;
        width: 65%;
        height: 203.5px; } }
  .paquete__foto {
    width: 90vw;
    position: relative;
    height: calc((90vw * 332) / 589);
    max-width: 100%; }
    @media (min-width: 992px) {
      .paquete__foto {
        width: 35%;
        float: left;
        height: 203.5px; } }
    .paquete__foto__icons {
      position: absolute;
      top: 15px;
      right: 18px; }
      .paquete__foto__icons__icon {
        width: 37px !important;
        /* owl carousel messing with this */
        display: inline-block !important; }
  .paquete__title-wrapper {
    color: #00adee;
    min-height: 45px; }
    .paquete__title-wrapper__icon {
      width: 46px;
      background-size: contain;
      position: relative;
      width: 28px;
      height: 21.25px;
      float: left;
      width: 10%; }
      @media (min-width: 992px) {
        .paquete__title-wrapper__icon {
          position: relative;
          width: 46px;
          height: 31px;
          float: left; } }
  .paquete__title {
    padding-left: 33.5px;
    font-family: "RiftSoft", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.20px;
    line-height: 19.5px;
    padding-left: 5px;
    float: left;
    height: 31px;
    width: 90%;
    max-width: 270px; }
    @media (min-width: 992px) {
      .paquete__title {
        margin-bottom: 5.5px;
        font-size: 24px;
        float: left;
        line-height: 31px;
        padding-left: 5px;
        max-width: none; } }
    .paquete__title span {
      font-weight: 700; }
  .paquete__tiempo {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #22275b;
    letter-spacing: 0.13px;
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px; }
    @media (min-width: 992px) {
      .paquete__tiempo {
        float: left;
        padding: 8.5px 0px 11.5px 0px;
        width: 40%;
        font-size: 14px; } }
    .paquete__tiempo .wrapper {
      position: relative; }
    .paquete__tiempo__fechas {
      font-weight: 700; }
    .paquete__tiempo__arrow {
      background-image: url("../../assets/images/icon/red-down.png");
      width: 13.5px;
      height: 7.5px;
      position: absolute;
      right: 0;
      bottom: 3px; }
      .paquete__tiempo__arrow.isOpen {
        transform: rotateZ(180deg); }
      @media (min-width: 992px) {
        .paquete__tiempo__arrow {
          display: none; } }
      .paquete__tiempo__arrow:hover {
        cursor: pointer; }
      .paquete__tiempo__arrow--open {
        background-image: url("../../../assets/images/icon/red-up.png"); }
  .paquete__inicio {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #22275b;
    letter-spacing: 0.13px;
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px; }
    @media (max-width: 991px) {
      .paquete__inicio--intermedia {
        display: none; } }
    @media (min-width: 992px) {
      .paquete__inicio {
        float: right;
        padding: 0;
        padding: 8.5px 0px 11.5px 0px;
        width: 60%;
        font-size: 14px; } }
    .paquete__inicio__lugar {
      font-weight: 700; }
  .paquete__lugares-disponibles {
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px;
    color: #22275b; }
    @media (min-width: 992px) {
      .paquete__lugares-disponibles--mb {
        display: none; } }
    .paquete__lugares-disponibles--mb--intermedia {
      display: none; }
    .paquete__lugares-disponibles--dp {
      display: none; }
      @media (min-width: 992px) {
        .paquete__lugares-disponibles--dp {
          display: block; } }
    .paquete__lugares-disponibles div {
      margin: 0 auto;
      max-width: 202.5px;
      text-align: center; }
      @media (min-width: 576px) and (max-width: 991px) {
        .paquete__lugares-disponibles div {
          margin: 0; } }
    .paquete__lugares-disponibles__icon {
      width: 33.5px;
      float: left;
      margin-right: 15px;
      vertical-align: baseline; }
    .paquete__lugares-disponibles__cantidad {
      font-family: "RiftSoft", sans-serif;
      font-size: 34px;
      float: left;
      margin-right: 12.5px;
      display: inline;
      vertical-align: baseline; }
      .paquete__lugares-disponibles__cantidad span {
        font-weight: 700; }
    .paquete__lugares-disponibles__leyenda {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 13px;
      letter-spacing: 0.14px;
      float: left;
      line-height: 17px;
      font-weight: 700;
      text-align: left; }
      @media (min-width: 992px) {
        .paquete__lugares-disponibles__leyenda {
          line-height: 15px;
          display: inline;
          vertical-align: baseline;
          padding-top: 3px; } }
  .paquete__precios {
    background-color: #ffffff;
    padding: 15px 0px 10px 8px;
    float: left; }
    @media (min-width: 576px) and (max-width: 991px) {
      .paquete__precios {
        padding: 15px 0px 10px 0px;
        margin-left: 17px; } }
    @media (min-width: 992px) {
      .paquete__precios {
        padding: 15px 0px 10px 0px; } }
    .paquete__precios--color {
      background-color: #00aeef;
      float: none;
      padding: 15px 0px 10px 21px; }
      @media (min-width: 576px) and (max-width: 991px) {
        .paquete__precios--color {
          margin-left: 0px; } }
      @media (min-width: 992px) {
        .paquete__precios--color {
          padding: 25px 36px; } }
    .paquete__precios__precio {
      float: left;
      max-width: 200px; }
      .paquete__precios__precio--margin-right {
        margin-right: 8px; }
        @media (min-width: 992px) {
          .paquete__precios__precio--margin-right {
            margin-right: 15px; } }
      .paquete__precios__precio__title {
        margin-bottom: 10px;
        font-size: 10px;
        letter-spacing: 0.13px;
        color: #22275b;
        font-family: "Helvetica Neue", sans-serif; }
        @media (min-width: 992px) {
          .paquete__precios__precio__title {
            font-size: 12px; } }
        .paquete__precios__precio__title--color {
          color: white; }
        .paquete__precios__precio__title--ahora {
          font-weight: bold;
          color: #ff5c5c; }
      .paquete__precios__precio__valores {
        font-family: "RiftSoft", sans-serif;
        font-weight: 700; }
        .paquete__precios__precio__valores__costo {
          text-transform: uppercase;
          font-size: 24px;
          letter-spacing: 0.015px;
          position: relative;
          color: #22275b; }
          .paquete__precios__precio__valores__costo--color {
            color: #ffffff; }
          .paquete__precios__precio__valores__costo--tachado:before {
            content: "";
            background-image: url("./../images/shapes/tachar.svg");
            position: absolute;
            bottom: 2%;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center; }
        .paquete__precios__precio__valores__impuestos {
          font-size: 17.5px;
          color: #00aeef;
          letter-spacing: 0.32px; }
          .paquete__precios__precio__valores__impuestos--color {
            color: #22275b; }
  .paquete__consultas {
    background-color: #00205f;
    padding: 17px 15px;
    text-align: center;
    color: white; }
    @media (min-width: 992px) {
      .paquete__consultas {
        text-align: center;
        padding: 27px 45px;
        height: 106.5px; } }
    .paquete__consultas p {
      font-size: 13px;
      float: left;
      letter-spacing: 0.14px;
      font-family: "Helvetica Neue", sans-serif;
      line-height: 31px; }
      @media (min-width: 992px) {
        .paquete__consultas p {
          float: none;
          margin-bottom: 10px;
          line-height: 14px; } }
      .paquete__consultas p span {
        font-weight: 700;
        font-family: "Helvetica Neue", sans-serif; }
    .paquete__consultas__icons {
      float: right;
      margin-right: 5px; }
      @media (min-width: 992px) {
        .paquete__consultas__icons {
          float: none; } }
      .paquete__consultas__icons a {
        color: white; }
        .paquete__consultas__icons a i {
          margin: 0 2.5px;
          font-size: 32px; }
          @media (min-width: 992px) {
            .paquete__consultas__icons a i {
              margin-right: 5px;
              font-size: 22px; } }
        .paquete__consultas__icons a span {
          display: none; }
          @media (min-width: 992px) {
            .paquete__consultas__icons a span {
              display: inline; } }
  .paquete__info {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px; }
    @media (min-width: 576px) and (max-width: 991px) {
      .paquete__info {
        margin-right: 17px; } }
    .paquete__info__link--dp {
      background-color: #ff5c5c;
      color: white;
      border-radius: 20px;
      padding: 12.5px 27px;
      display: none;
      font-size: 16px;
      margin-right: 10px; }
      .paquete__info__link--dp:hover {
        background-color: #FF7575; }
      @media (min-width: 992px) {
        .paquete__info__link--dp {
          display: inline-block; } }
    @media (min-width: 992px) {
      .paquete__info__link--mb {
        display: none; } }
    .paquete__info__icon {
      width: 44.5px;
      height: auto; }
  .paquete__proximamente {
    height: 66.5px;
    padding-top: 15px; }
    .paquete__proximamente__title {
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 0.13px;
      color: #22275b;
      font-family: "Helvetica Neue", sans-serif; }
    .paquete__proximamente__leyenda {
      font-family: "RiftSoft", sans-serif;
      font-size: 30px;
      color: #00aeef;
      font-weight: 700;
      line-height: 29.38px;
      letter-spacing: 0.15px; }

.paquete__lugares-disponibles--dp {
  padding: 0;
  border-bottom: none;
  float: left;
  margin-left: 50px;
  position: relative;
  width: 40%;
  height: 88px; }
  .paquete__lugares-disponibles--dp .clearfix.center, .paquete__lugares-disponibles--dp .center.tags {
    max-height: 30.5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 11px; }
    .paquete__lugares-disponibles--dp .clearfix.center img, .paquete__lugares-disponibles--dp .center.tags img, .paquete__lugares-disponibles--dp .clearfix.center p, .paquete__lugares-disponibles--dp .center.tags p {
      margin-top: auto; }

.section-test {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: #ffffff; }
  @media (min-width: 992px) {
    .section-test {
      width: 75%; } }

.sku {
  color: #22275b;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .sku {
      box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
      max-width: 813.5px;
      margin-bottom: 23px; } }
  .sku__foto {
    background-image: url("../images/img/sku_mb.png");
    width: 90vw;
    height: calc((90vw * 332) / 598);
    position: relative; }
    @media (min-width: 992px) {
      .sku__foto {
        height: 164px;
        float: left;
        width: 35%;
        max-width: 290px; } }
    .sku__foto__icons {
      position: absolute;
      top: 15.5px;
      right: 20px; }
      .sku__foto__icons img {
        height: 37px;
        margin: 0 2px; }
  .sku__info {
    padding: 16px 10.5px 0px 5px;
    width: 90vw; }
    @media (min-width: 992px) {
      .sku__info {
        float: left;
        width: 65%;
        padding-top: 14px;
        padding-left: 10.5px; } }
    @media (min-width: 1200px) {
      .sku__info {
        padding-left: 12px;
        padding-right: 18.5px; } }
    .sku__info__body {
      overflow: hidden; }
    .sku__info__footer {
      padding-top: 11.5px;
      padding-bottom: 17px; }
      @media (min-width: 992px) {
        .sku__info__footer {
          padding-top: 9px;
          padding-bottom: 11px; } }
  .sku__arrow {
    background-image: url(../../assets/images/icon/red-down.png);
    width: 13.5px;
    height: 7.5px;
    position: absolute;
    right: 18px;
    bottom: 15px; }
    @media (min-width: 992px) {
      .sku__arrow {
        display: none; } }
    .sku__arrow.isOpen {
      transform: rotateZ(180deg); }

.sku__title-container {
  margin-bottom: 8.5px;
  padding-left: 11px; }
  @media (min-width: 992px) {
    .sku__title-container {
      margin-bottom: 10px;
      padding-left: 8px; } }
  .sku__title-container__icon {
    background-image: url("../images/icon/icon-tour-destino.png");
    width: 25px;
    height: 22px;
    float: left;
    margin-bottom: 20px;
    margin-right: 7.5px; }
    @media (min-width: 992px) {
      .sku__title-container__icon {
        margin-bottom: 0px; } }
  .sku__title-container__title {
    font-family: "RiftSoft", sans-serif;
    font-size: 21px;
    line-height: 20px;
    font-weight: 700;
    color: #00aeef;
    float: left;
    padding-top: 2px; }
    .sku__title-container__title-icon {
      height: 22px;
      margin-right: 6px;
      vertical-align: middle; }
    .sku__title-container__title span {
      font-weight: 400; }
    @media (min-width: 992px) {
      .sku__title-container__title {
        max-width: none;
        font-size: 22px;
        line-height: 24.5px;
        padding-top: 0px; } }

.sku__time {
  font-size: 13px;
  padding-left: 17px;
  border-bottom: 1.5px solid #eaf5f4;
  padding-bottom: 7.5px; }
  @media (min-width: 992px) {
    .sku__time {
      float: left;
      width: 42%;
      max-width: 408px;
      height: 40.5px;
      padding-left: 8px; } }
  @media (min-width: 1300) {
    .sku__time {
      font-size: 14px; } }
  .sku__time__dates {
    font-weight: 700; }
    @media (min-width: 992px) {
      .sku__time__dates {
        white-space: nowrap; } }

.sku__inicio {
  font-size: 13px;
  border-bottom: 1.5px solid #eaf5f4;
  padding-left: 17px;
  padding-top: 8.5px;
  padding-bottom: 11.5px; }
  @media (min-width: 992px) {
    .sku__inicio {
      float: left;
      width: 58%;
      padding-top: 0;
      white-space: nowrap;
      height: 40.5px; } }
  @media (min-width: 1300) {
    .sku__inicio {
      font-size: 14px; } }
  .sku__inicio__place {
    font-weight: 700; }

.sku__seats {
  font-weight: 700;
  border-bottom: 1.5px solid #eaf5f4;
  padding-top: 10.5px;
  padding-bottom: 9px;
  padding-left: 41px; }
  @media (min-width: 992px) {
    .sku__seats {
      display: none; } }
  .sku__seats__icon {
    height: 27.2px;
    margin-right: 15px; }
  .sku__seats__number {
    font-family: "RiftSoft", sans-serif;
    font-size: 34px;
    margin-right: 10px; }
    .sku__seats__number span {
      font-weight: 400; }
  .sku__seats__label {
    font-size: 13px;
    width: 74px;
    white-space: normal;
    display: inline-block;
    text-align: left; }
  .sku__seats--vertical {
    display: none; }
    @media (min-width: 992px) {
      .sku__seats--vertical {
        display: block;
        max-width: 110px;
        padding-left: 0px;
        float: left;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 13px; } }
    .sku__seats--vertical__icon {
      display: block;
      height: 13px;
      margin-bottom: 2px; }
    .sku__seats--vertical__number {
      display: block;
      font-size: 24px; }
    .sku__seats--vertical__label {
      white-space: nowrap;
      font-size: 11px; }

.sku__price {
  float: left;
  margin-right: 8px;
  padding-left: 8px; }
  @media (min-width: 1300) {
    .sku__price {
      margin-right: 17px; } }
  .sku__price__label {
    font-size: 10px; }
    @media (min-width: 992px) {
      .sku__price__label {
        font-size: 12px; } }
    .sku__price__label--current {
      color: #ff5c5c; }
  .sku__price__cost {
    font-family: "RiftSoft", sans-serif;
    font-weight: 700;
    font-size: 24px; }
    .sku__price__cost--old {
      position: relative; }
      .sku__price__cost--old::before {
        content: "";
        background-image: url(./../images/shapes/tachar.svg);
        position: absolute;
        bottom: 2%;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center; }
  .sku__price__tax {
    font-family: "RiftSoft", sans-serif;
    font-weight: 700;
    color: #00aeef;
    font-size: 17.5px; }

.sku__more-info--dp {
  display: none; }
  .sku__more-info--dp:hover {
    background-color: #FF7575; }
  @media (min-width: 992px) {
    .sku__more-info--dp {
      display: inline;
      background-color: #ff5c5c;
      color: #ffffff;
      font-size: 17px;
      padding: 12.5px 27px;
      border-radius: 20px;
      position: absolute;
      bottom: 12px;
      right: 0;
      text-align: center; } }
.sku__more-info--mb {
  height: 44.5px;
  position: absolute;
  bottom: 17px;
  right: 0;
  padding-right: 3px; }
  @media (min-width: 992px) {
    .sku__more-info--mb {
      display: none; } }

.tags__tag {
  display: block;
  float: left;
  background: #ff5c5c;
  min-height: 24px;
  padding: 5px 0px;
  font-size: 12px;
  line-height: 14px;
  color: #FFF;
  margin: 0px 12px 12px 0px;
  cursor: pointer;
  white-space: nowrap; }
  .tags__tag__text {
    vertical-align: middle;
    padding: 0 10px;
    display: inline-block;
    border-left: 1px solid #FFF; }
  .tags__tag__close {
    display: inline-block;
    padding-top: 1px;
    padding: 0 6px 0 10px;
    vertical-align: middle; }
  .tags__tag:hover {
    background-color: #f54e4e;
    transition: background-color 0.5s; }

.filters {
  background-color: #00aeef;
  color: #FFF;
  padding: 0px 24px 24px;
  max-width: 100%;
  position: relative; }
  .filters.sticky {
    position: fixed;
    z-index: 2000;
    top: 0px;
    width: 100vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .filters__trigger_modal {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: block; }
  .filters__modal {
    background-color: #00aeef;
    position: fixed;
    padding: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    display: none; }
    .filters__modal__close {
      position: absolute;
      right: 24px;
      top: 24px; }
    .filters--modal--open .filters__modal {
      display: block; }
  .filters__section {
    padding: 24px 0 0;
    border-bottom: 1px solid #31bef3; }
    .filters__section__title {
      font-weight: 20px;
      margin-bottom: 12px;
      text-align: center; }
  .filters__options {
    font-size: 14px;
    line-height: 24px;
    width: 100%; }
    .filters__options.filters--mobile--slider {
      margin: 0px 30px;
      width: calc(100% - 60px);
      z-index: 1; }
  .filters__option {
    cursor: pointer;
    position: relative;
    border-top: 1px solid #31bef3;
    padding: 25px 25px; }
    .filters--mobile--slider .filters__option {
      padding: 0;
      border: none; }
    .filters__option a {
      display: block;
      padding-right: 40px; }
    .filters__option.is-active {
      font-weight: bold; }
    .filters__option.with-checkbox:before {
      float: right;
      font-family: "Font Awesome 5 Free";
      font-size: 18px;
      content: "\f0c8"; }
    .filters__option.with-checkbox.is-active:before {
      font-weight: bold;
      content: "\f14a"; }
    .filters__option.is-carousel-enabled a {
      text-align: center; }
  .filters__actions {
    padding: 24px 0;
    text-align: center; }
    .filters__actions .button {
      margin: 0 8px; }
  .filters__nav {
    position: relative;
    z-index: 10; }
    .filters__nav__arrow {
      position: absolute;
      top: 0px;
      height: 24px;
      line-height: 24px; }
      .filters__nav__arrow.is-left {
        left: 0px; }
      .filters__nav__arrow.is-right {
        right: 0px; }
  @media (min-width: 992px) {
    .filters__trigger_modal {
      display: none; }
    .filters__section {
      padding: 24px 12px; }
      .filters__section__title {
        text-align: left; }
    .filters__modal {
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      width: 100%;
      height: auto;
      z-index: auto;
      display: block; }
      .filters__modal__close {
        display: none; }
    .filters__options.filters--mobile--slider {
      margin: 0;
      width: 100%; }
    .filters__option {
      border: none;
      padding: 0; }
      .filters__option:before {
        display: none; }
      .filters__option:hover {
        color: #262e69;
        transition: color 0.5s; }
      .filters__option.is-carousel-enabled a {
        text-align: left; }
    .filters__actions {
      display: none; }
    .filters__nav {
      display: none; } }

.dropdown {
  position: relative; }
  .dropdown::after {
    border: 2px solid #ff5c5c;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 5; }

.dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  outline: none;
  padding-left: 18px; }
  .dropdown select::-ms-expand {
    display: none; }

.select-section__dropdown {
  position: relative;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07); }
  .select-section__dropdown select {
    background-color: #e5f7fe;
    border: none;
    height: 52px;
    color: #22275b;
    font-weight: 700;
    font-size: 13px;
    padding-right: 2.5em; }

@media (min-width: 992px) {
  .dropdown-float {
    float: left;
    width: 48%; } }

.select-section {
  text-align: center;
  padding: 50px 0px 0px 0px;
  max-width: 100%; }
  .select-section h2 {
    font-size: 26px;
    margin: 0px 0px 28px 0px; }
    @media (min-width: 992px) {
      .select-section h2 {
        text-align: left; } }
  @media (min-width: 992px) {
    .select-section__groups {
      width: 100%; } }
  .select-section__group {
    margin-bottom: 26px;
    text-align: left; }
    @media (min-width: 992px) {
      .select-section__group {
        margin-bottom: 0px; } }
    .select-section__group:last-child {
      margin-bottom: 5px; }
    .select-section__group__label {
      font-size: 13px;
      margin-bottom: 10.5px;
      margin-left: 19px; }
    .select-section__group__text {
      margin-top: 19px;
      padding: 0px 15px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.13px; }
      @media (min-width: 992px) {
        .select-section__group__text {
          float: left;
          width: 60%;
          margin-top: 0px;
          padding-right: 0px;
          font-size: 16px;
          line-height: 23px;
          letter-spacing: 0.8px; } }
    .select-section__group__info {
      margin-top: 10px; }
      .select-section__group__info div {
        float: left;
        margin: 0px 17px;
        display: table; }
        @media (min-width: 992px) {
          .select-section__group__info div {
            margin: 0px 12px;
            margin-left: 0px; } }
        .select-section__group__info div:nth-child(2) {
          float: right; }
          @media (min-width: 992px) {
            .select-section__group__info div:nth-child(2) {
              float: left; } }
        .select-section__group__info div a span {
          font-size: 13px;
          font-weight: 700;
          vertical-align: middle;
          display: table-cell;
          color: #22275b; }
        .select-section__group__info div a i {
          font-size: 22px;
          color: #ff5c5c;
          line-height: 25px;
          margin-left: 6px; }
    @media (min-width: 992px) {
      .select-section__group {
        float: left; }
        .select-section__group:not(:last-child) {
          margin-right: 2%; }
        .select-section__group#select-pasajeros {
          width: 24%; }
        .select-section__group#select-lugar {
          width: 40%; }
        .select-section__group#select-lapso {
          width: 32%; }
        .select-section__group#select-transporte {
          width: 100%; }
          .select-section__group#select-transporte .select-section__dropdown {
            width: 40%; }
        .select-section__group#select-alojamiento {
          width: 40%; }
        .select-section__group#select-habitacion {
          width: 30%; }
        .select-section__group#select-pension {
          width: 26%; } }

.section-galeria {
  padding: 45px 0px;
  position: relative; }
  @media (max-width: 991px) {
    .section-galeria {
      margin-bottom: 100px; } }
  @media (min-width: 992px) {
    .section-galeria {
      max-width: 67%; } }
  .section-galeria h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 31px;
    font-family: "RiftSoft", sans-serif;
    color: #00aeef;
    padding-left: 25px; }
    @media (min-width: 992px) {
      .section-galeria h2 {
        letter-spacing: 0.12px;
        margin-bottom: 17px;
        padding-left: 0; } }
  .section-galeria .galeria {
    width: 100%;
    min-height: 1px;
    height: 273.5px; }
    @media (max-width: 991px) {
      .section-galeria .galeria {
        max-width: 400px;
        margin: 0 auto; } }
    @media (min-width: 992px) {
      .section-galeria .galeria {
        height: 353px; } }
    .section-galeria .galeria__fs {
      position: absolute;
      color: #ffffff;
      display: none;
      z-index: 2;
      left: 83%;
      top: 50%;
      transform: translate(-200%, -50%);
      font-size: 21.5px; }
      .section-galeria .galeria__fs:hover {
        cursor: pointer; }
      @media (min-width: 992px) {
        .section-galeria .galeria__fs {
          display: inline-block; } }
    .section-galeria .galeria__featured {
      float: left;
      min-height: 1px;
      width: 100%;
      height: 100%; }
      @media (min-width: 992px) {
        .section-galeria .galeria__featured {
          width: 83%;
          margin-right: 2%; } }
      .section-galeria .galeria__featured div {
        background-position-x: 0;
        background-position-y: 0;
        background-size: cover;
        height: 273.5px; }
        @media (min-width: 992px) {
          .section-galeria .galeria__featured div {
            height: 353px; } }
    .section-galeria .galeria__nav {
      float: left;
      width: 15%;
      max-width: 100px;
      display: none;
      height: 100%; }
      @media (min-width: 992px) {
        .section-galeria .galeria__nav {
          display: block; } }
      .section-galeria .galeria__nav div {
        width: 100%;
        height: 55px;
        margin-bottom: 19.5px; }
        .section-galeria .galeria__nav div:hover {
          cursor: pointer; }
        .section-galeria .galeria__nav div:last-child {
          border: 1.5px solid #22275b;
          margin-bottom: 0px;
          text-align: center;
          position: relative; }
          .section-galeria .galeria__nav div:last-child a {
            position: absolute;
            color: #22275b;
            white-space: nowrap;
            font-size: 13px;
            line-height: 11.43px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px; }
    .section-galeria .galeria .owl-dots {
      max-height: 30px; }
      @media (min-width: 992px) {
        .section-galeria .galeria .owl-dots {
          display: none; } }
      .section-galeria .galeria .owl-dots .owl-dot span {
        background: none;
        border: 2px solid #22275b; }
      .section-galeria .galeria .owl-dots .owl-dot.active span {
        background-color: #22275b; }
  .section-galeria .ver-mas--galeria {
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 15px;
    transform: translate(0, 5px); }
    @media (min-width: 992px) {
      .section-galeria .ver-mas--galeria {
        display: none; } }
    .section-galeria .ver-mas--galeria .ver-mas__btn {
      padding: 5px 30px; }

.custom-checkbox {
  cursor: pointer;
  position: relative;
  /* checked icon */ }
  .custom-checkbox input {
    display: none; }
  .custom-checkbox input + span:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    width: 20px;
    line-height: 20px;
    content: "\f0c8"; }
  .custom-checkbox input:checked + span:after {
    content: "\f14a";
    letter-spacing: 3px; }
  .custom-checkbox .custom-checkbox--right {
    padding-right: 20px; }

.js-custom-checkbox {
  cursor: pointer;
  position: relative;
  padding-right: 20px; }
  .js-custom-checkbox:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8"; }
  .js-custom-checkbox.js-custom-checkbox--checked:after {
    content: "\f14a"; }

.hero--interna_paquete {
  height: calc((100vw * 600) / 640);
  background-image: url("../images/banners/interna_paquete_mb.png"); }
  @media (min-width: 992px) {
    .hero--interna_paquete {
      height: calc((100vw * 460.5) / 1136);
      background-image: url("../images/banners/interna_paquete_dp.png");
      margin-bottom: 0px; } }
  @media (min-width: 1200px) {
    .hero--interna_paquete {
      height: calc((80vw * 460.5) / 1136); } }

.main {
  font-size: 16px;
  color: #22275b;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px; }
  @media (min-width: 992px) {
    .main {
      background-image: url("../images/shapes/corner-deco.png");
      background-size: 235px 131.5px;
      background-position-x: 100%;
      background-position-y: 0;
      background-repeat: no-repeat;
      padding-top: 45px; } }
  @media (min-width: 1200px) {
    .main {
      padding: 20px 0px;
      padding-top: 45px; } }
  .main h1, .main h2, .main h3 {
    font-family: "RiftSoft", sans-serif;
    font-weight: 700;
    color: #00aeef;
    text-transform: uppercase; }
  .main h4 {
    font-weight: 700; }

.heading__title {
  font-size: 28px;
  letter-spacing: 0.23px; }
  @media (min-width: 992px) {
    .heading__title {
      font-size: 40px;
      line-height: 26.2px;
      letter-spacing: 0.2px;
      margin-bottom: 10px; } }
@media (min-width: 992px) {
  .heading__left {
    float: left;
    max-width: 67%;
    border-bottom: 1px solid #22275b; } }
.heading__share {
  padding: 15px 12.5px;
  border-bottom: 1px solid #22275b; }
  @media (min-width: 992px) {
    .heading__share {
      border-bottom: none; } }
  .heading__share__item {
    float: left;
    margin-right: 27px; }
    .heading__share__item__link {
      float: left;
      margin-right: 10px; }
      .heading__share__item__link i {
        font-size: 21px;
        color: #22275b; }
        @media (min-width: 992px) {
          .heading__share__item__link i {
            font-size: 22px; } }
    .heading__share__item__label {
      float: left;
      line-height: 21px;
      font-size: 13px;
      color: #22275b; }
      @media (min-width: 992px) {
        .heading__share__item__label {
          font-size: 14px; } }
.heading__descripcion {
  font-size: 13px;
  letter-spacing: 0.13px;
  padding: 20px 10px 20px 0px;
  line-height: 15px; }
  .heading__descripcion span {
    font-weight: 700; }
  @media (min-width: 992px) {
    .heading__descripcion {
      line-height: 22.7px;
      font-size: 16px;
      letter-spacing: 0.8px;
      padding-bottom: 25px; } }
.heading__ideal {
  border-bottom: 1px solid #22275b;
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    .heading__ideal {
      float: left;
      padding-bottom: 29px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: none; } }

.ideal__text {
  float: left;
  line-height: 50px;
  margin-right: 13px;
  font-weight: 700;
  font-size: 13px; }
  @media (min-width: 992px) {
    .ideal__text {
      font-size: 16px;
      line-height: 61px; } }
.ideal__icons {
  float: left; }
  .ideal__icons__icon {
    float: left;
    position: relative; }
    .ideal__icons__icon a {
      margin-right: 10px;
      color: #22275b; }
      .ideal__icons__icon a img {
        height: 50px; }
        @media (min-width: 992px) {
          .ideal__icons__icon a img {
            height: 61px; } }
    .ideal__icons__icon__tooltip {
      position: absolute;
      top: -50%;
      width: 90%;
      text-align: center;
      transform: translate(0, 50%);
      padding: 5px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      text-transform: uppercase;
      font-size: 13px;
      font-family: "RiftSoft", sans-serif;
      color: #22275b;
      background-color: #6cefd6;
      font-weight: 700; }
    .ideal__icons__icon:hover .ideal__icons__icon__tooltip {
      visibility: visible;
      opacity: 1; }

@media (min-width: 992px) {
  .detalle__left-container {
    max-width: 67%; } }

.items-incluidos {
  border-bottom: 1px solid #22275b;
  padding: 22.5px 0px 17.5px 0px; }
  .items-incluidos__item {
    width: 50%;
    float: left;
    margin-bottom: 5px; }
    @media (min-width: 992px) {
      .items-incluidos__item {
        width: 20%; } }
    .items-incluidos__item__icon {
      display: inline-block;
      vertical-align: middle;
      width: 46.8px;
      height: 39px; }
      @media (min-width: 992px) {
        .items-incluidos__item__icon {
          width: 39px;
          height: 32.5px;
          background-position: center;
          background-size: contain; } }
    .items-incluidos__item__label {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      font-weight: 700; }
      @media (min-width: 1300) {
        .items-incluidos__item__label {
          font-size: 16px; } }

@media (min-width: 1300) {
  .items-incluidos__item__label {
    font-size: 16px; } }

.ticket {
  color: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100vw;
  right: 0;
  max-width: 100vw;
  overflow: hidden; }
  @media (max-width: 991px) {
    .ticket {
      display: none; } }
  @media (min-width: 992px) {
    .ticket {
      width: 30%;
      position: absolute;
      right: 0;
      top: 0; } }
  .ticket.isOpen .ticket__detail__estimado {
    padding-bottom: 7.5px; }
  .ticket__detail {
    background-color: #00aeef;
    position: relative;
    font-size: 12px;
    padding: 10px 11px;
    padding-bottom: 0px; }
    @media (min-width: 992px) {
      .ticket__detail {
        padding: 25px 32px;
        padding-bottom: 120px; } }
    .ticket__detail .paquete__lugares-disponibles {
      border-bottom: none;
      color: #ffffff; }
      @media (min-width: 992px) {
        .ticket__detail .paquete__lugares-disponibles {
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          padding: 8.5px 15px 11.5px 15px; } }
    .ticket__detail__estimado {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      padding-bottom: 7.5px;
      padding-bottom: 40px;
      max-width: 100%; }
      @media (min-width: 992px) {
        .ticket__detail__estimado {
          padding: 0px 11px;
          padding-bottom: 25px; } }
    .ticket__detail__desgloce {
      width: 100%;
      padding-top: 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      padding-bottom: 8px;
      display: none; }
      @media (min-width: 992px) {
        .ticket__detail__desgloce {
          padding: 0px 11px;
          padding-bottom: 23px;
          padding-top: 19px;
          display: block; } }
      @media (min-width: 992px) {
        .ticket__detail__desgloce--hidden {
          display: none !important; } }
    .ticket__detail__reserva-btn {
      background-color: #ff5c5c;
      color: #ffffff;
      border-radius: 50px;
      text-align: center;
      position: absolute;
      font-size: 13px; }
      .ticket__detail__reserva-btn--dp {
        display: none; }
        @media (min-width: 992px) {
          .ticket__detail__reserva-btn--dp {
            display: inline-block;
            bottom: 25px;
            left: 50%;
            width: 80%;
            transform: translate(-50%, 0);
            padding: 20px 0px;
            font-size: 16px;
            line-height: 21.5px; }
            .ticket__detail__reserva-btn--dp:hover {
              background-color: #FF7575; }
            .ticket__detail__reserva-btn--dp span {
              font-weight: 700; }
            .ticket__detail__reserva-btn--dp .rift {
              font-family: "RiftSoft", sans-serif;
              font-size: 20px; } }
      .ticket__detail__reserva-btn--mb {
        display: inline-block;
        top: 10px;
        right: 11px;
        line-height: 13px;
        font-size: 13px;
        padding: 7px 20px; }
        .ticket__detail__reserva-btn--mb span {
          font-weight: 700;
          font-family: "RiftSoft", sans-serif;
          line-height: 26px;
          font-size: 24px; }
          .ticket__detail__reserva-btn--mb span.isSmaller {
            font-size: 18px; }
        @media (min-width: 992px) {
          .ticket__detail__reserva-btn--mb {
            display: none; } }
  @media (max-width: 991px) {
    .ticket .paquete__lugares-disponibles {
      display: none; } }
  @media (max-width: 991px) {
    .ticket .paquete__consultas {
      padding-bottom: 30px;
      display: none; } }
  .ticket__ocultar-detalle--mb {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;
    color: #ffffff;
    opacity: 1;
    white-space: nowrap;
    font-size: 13px; }
    .ticket__ocultar-detalle--mb.isOpen {
      color: #00aeef; }
    .ticket__ocultar-detalle--mb img {
      height: 15px;
      margin-right: 5px;
      vertical-align: middle; }
      .ticket__ocultar-detalle--mb img.open {
        display: none; }
    .ticket__ocultar-detalle--mb span {
      vertical-align: middle; }
    .ticket__ocultar-detalle--mb.isOpen img.open {
      display: inline; }
    .ticket__ocultar-detalle--mb.isOpen img.closed {
      display: none; }
    @media (min-width: 992px) {
      .ticket__ocultar-detalle--mb {
        display: none; } }
  .ticket--sticky-dp-top {
    position: fixed;
    top: 81px;
    left: 0px;
    width: 100%; }
    .ticket--sticky-dp-top .ticket__sticky-center {
      max-width: 1140px;
      margin: auto;
      position: relative; }
      @media (max-width: 1200px) {
        .ticket--sticky-dp-top .ticket__sticky-center {
          margin: 0px 20px; } }
    .ticket--sticky-dp-top .ticket__sticky-width {
      position: absolute;
      width: 30%;
      right: 0px;
      top: 0px; }
  .ticket--sticky-dp-bot {
    position: absolute;
    bottom: 0 !important; }
  .ticket--top {
    top: 0; }
  .ticket__blue-div--mb {
    background-color: #00205f;
    height: 40px; }
    @media (min-width: 992px) {
      .ticket__blue-div--mb {
        display: none; } }

.desgloce__item__label {
  float: left;
  color: #a2e6ff;
  letter-spacing: 0.14px; }
.desgloce__item__cantidad {
  float: right;
  color: #a2e6ff;
  letter-spacing: 0.14px; }

.estimado__label-dp {
  display: none;
  color: #ff5c5c;
  font-weight: 700;
  line-height: 16px; }
  @media (min-width: 992px) {
    .estimado__label-dp {
      display: initial; } }
.estimado__label-mb {
  display: initial;
  line-height: 15px; }
  @media (min-width: 992px) {
    .estimado__label-mb {
      display: none; } }
.estimado__precio {
  font-size: 24px;
  font-family: "RiftSoft", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .estimado__precio {
      font-size: 30px;
      line-height: 28.5px; } }
.estimado__imp {
  color: #86d9fb;
  font-family: "RiftSoft", sans-serif;
  font-size: 17.5px;
  font-weight: 700; }
  @media (min-width: 992px) {
    .estimado__imp {
      font-size: 20px;
      line-height: 28.5px; } }
.estimado__ocultar-detalles--dp {
  display: none; }
  .estimado__ocultar-detalles--dp:before {
    content: "Ver";
    display: block;
    transition: all 0.5s;
    position: absolute;
    top: -15px;
    left: 3px; }
  .estimado__ocultar-detalles--dp:hover {
    cursor: pointer; }
  @media (min-width: 992px) {
    .estimado__ocultar-detalles--dp {
      display: block;
      position: absolute;
      right: 0;
      bottom: 27px;
      color: #a2e6ff;
      font-size: 12px;
      line-height: 15px; } }
  .estimado__ocultar-detalles--dp.isOpen:before {
    content: " Ocultar";
    display: block;
    transition: all 0.5s;
    position: absolute;
    top: -15px;
    left: 3px; }

.section-info-importante, .section-excursiones {
  padding-top: 45px; }

.modulo-excursiones_title {
  font-family: 'RiftSoft';
  color: #00aeef;
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 22px 0; }

.modulo-excursiones_checklist {
  font-weight: bold;
  color: #22275b;
  font-family: 'Helvetica Neue'; }

.modulo-excursiones_checklist div {
  margin: 0 0 12px 0; }

.modulo-excursiones_checklist input {
  margin: 0 12px 0 6px; }

.modulo-excursiones_checklist span {
  font-weight: 400; }

.modulo-excursiones_checklist {
  /* checked icon */ }
  .modulo-excursiones_checklist input {
    display: none; }
  .modulo-excursiones_checklist input + label:before {
    font-family: "Font Awesome 5 Free";
    width: 20px;
    line-height: 20px;
    margin-right: 10px;
    content: "\f14a"; }
  .modulo-excursiones_checklist input:checked + label:before {
    content: "\f14a"; }
  .modulo-excursiones_checklist .custom-checkbox--right {
    padding-right: 20px; }

.info-importante {
  display: block;
  border: 2px solid #22275b;
  color: #22275b;
  font-family: 'RiftSoft';
  font-size: 16px;
  max-width: 900px; }

.info-importante_title {
  padding: 19px 32px;
  border-bottom: 1px solid #22275b;
  font-weight: bold;
  font-size: 24px; }

.info-importante_title img {
  max-height: 33px;
  padding-right: 16px;
  display: inline-block;
  vertical-align: middle; }

.info-importante_title div {
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0; }

/* general */
.info-importante .bold {
  font-weight: 700; }

.info-importante .blue {
  color: #00aeef;
  display: block;
  margin: 0 0 16px 0;
  font-size: 24px; }

.info-importante p {
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 1.4; }

/* end general */
.info-importante_box {
  padding: 35px 30px; }

.info-importante_dni {
  padding: 0 0 32px 0; }

.info-importante_dni .blue {
  font-weight: bold; }

.info-importante_dni .bold {
  font-family: 'Helvetica Neue';
  font-size: 20px; }

.info-importante__item {
  width: 50%;
  margin: 0 0 30px 0;
  padding: 0 50px 0 0;
  float: left; }
  @media (max-width: 991px) {
    .info-importante__item {
      width: 100%;
      float: none; } }

.info-importante_content-promos span {
  display: block; }

.info-importante_content-operador span {
  display: block; }

.isCollapsed {
  display: none; }

.hero--intermedia {
  height: calc((100vw * 600) / 640);
  background-image: url("../images/banners/intermedia_mb.jpg"); }
  @media (min-width: 992px) {
    .hero--intermedia {
      height: calc((100vw * 460.5) / 1136);
      background-image: url("../images/banners/intermedia_dp.jpg"); } }
  @media (min-width: 1200px) {
    .hero--intermedia {
      height: calc((80vw * 460.5) / 1136); } }

@media (min-width: 992px) {
  .paquete-principal {
    margin-bottom: 27px; } }
@media (min-width: 992px) {
  .paquete-principal__info__left {
    float: left;
    width: 67%;
    margin-right: 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .paquete-principal__info__left {
    padding-left: 20px; } }
.paquete-principal__info__left__top {
  padding: 20px 0px;
  border-bottom: 1px solid #22275b;
  margin: 0px 20px; }
  @media (min-width: 992px) {
    .paquete-principal__info__left__top {
      margin-left: 0;
      border-bottom: none;
      padding: 14.25px 0px;
      height: 87.5px; } }
  .paquete-principal__info__left__top h1 {
    font-family: "RiftSoft", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 31.65px;
    color: #00aeef;
    text-transform: uppercase;
    white-space: normal;
    margin-bottom: 15px; }
    @media (min-width: 992px) {
      .paquete-principal__info__left__top h1 {
        font-size: 40px;
        line-height: 26.2px;
        letter-spacing: 0.2px; } }
  .paquete-principal__info__left__top__share {
    height: 18px; }
    .paquete-principal__info__left__top__share a {
      color: #22275b; }
      .paquete-principal__info__left__top__share a i {
        font-size: 18px;
        float: left;
        vertical-align: middle; }
        @media (min-width: 992px) {
          .paquete-principal__info__left__top__share a i {
            font-size: 19px; } }
      .paquete-principal__info__left__top__share a p {
        line-height: 18px;
        font-size: 13px;
        margin-left: 10px;
        float: left;
        font-family: "Helvetica Neue", sans-serif;
        color: #22275b; }
        @media (min-width: 992px) {
          .paquete-principal__info__left__top__share a p {
            font-size: 14px;
            line-height: 19px; } }
@media (min-width: 992px) {
  .paquete-principal__info__right {
    float: right;
    width: 31%;
    height: 217.5px; } }
.paquete-principal__descripcion {
  padding: 20px 0px;
  margin: 0 20px 10px 20px; }
  @media (min-width: 992px) {
    .paquete-principal__descripcion {
      margin-left: 0;
      padding-right: 34px;
      padding-bottom: 40.5px;
      margin-bottom: 0;
      border-bottom: 1.5px solid #22275b;
      padding-top: 0; } }
  .paquete-principal__descripcion p {
    font-size: 13px;
    color: #22275b;
    letter-spacing: 0.26px;
    font-family: "Helvetica Neue", sans-serif; }
    @media (min-width: 992px) {
      .paquete-principal__descripcion p {
        font-size: 16px;
        line-height: 22.9px;
        letter-spacing: 0.8px; } }
    .paquete-principal__descripcion p span {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 700; }

.tours {
  background-color: #d9f8ff;
  padding: 25px 15px; }
  @media (min-width: 992px) {
    .tours {
      margin-bottom: 50px; } }
  .tours__categoria__header {
    margin: 0 auto;
    margin-bottom: 14px; }
    .tours__categoria__header__icon {
      width: 37px;
      float: left;
      margin-right: 2.5px; }
    .tours__categoria__header__title {
      float: left;
      font-family: "RiftSoft", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: white;
      background-color: #22275b;
      line-height: 26.2px;
      margin: 5.5px 0;
      padding: 0 13.5px 0 7px; }
    .tours__categoria__header__arrow {
      float: right;
      height: 17px;
      width: 26px;
      padding: 6px 0; }
      .tours__categoria__header__arrow img {
        height: 10.5px;
        width: 19px; }
      .tours__categoria__header__arrow--v-transform {
        transform: rotateZ(180deg); }

@media (min-width: 992px) {
  .tours .ver-mas {
    display: none; } }

.tour {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff; }

.otros-destinos {
  background-color: #d9f8ff;
  padding-top: 31.5px;
  padding-bottom: 36px;
  display: none; }
  @media (min-width: 992px) {
    .otros-destinos {
      padding-left: 20px;
      display: block; } }
  @media (min-width: 1200px) {
    .otros-destinos {
      padding-left: 10%; } }
  @media (min-width: 1200px) {
    .otros-destinos__header {
      margin-right: 10vw; } }
  .otros-destinos__header__title {
    font-size: 28px;
    color: #22275b;
    font-family: "RiftSoft", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 24.8px;
    float: left; }
  .otros-destinos__lista {
    background-color: #d9f8ff;
    width: 100%;
    max-height: 475.5px;
    overflow-y: hidden; }
  .otros-destinos__destino {
    background-color: white;
    width: 430px;
    float: left;
    height: 472px;
    margin-right: 28.5px;
    box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 3.5px; }
  .otros-destinos .ver-mas {
    float: right;
    padding-right: 15px; }
    .otros-destinos .ver-mas a {
      padding: 5px 30px; }
    @media (min-width: 1200px) {
      .otros-destinos .ver-mas {
        margin-right: 10vw; } }

.destino__foto {
  width: 430px;
  height: 242.5px; }
.destino__data__top {
  color: #22275b;
  padding: 20px 25px;
  border-bottom: 1.5px solid #eaf5f4;
  height: 113px; }
  .destino__data__top__title {
    font-family: "RiftSoft", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.13px;
    margin-bottom: 13.5px; }
  .destino__data__top__descripcion {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    letter-spacing: 0.15px; }
.destino__data__bottom {
  padding: 5px 20px 15px 20px;
  height: 114px; }

.paquete__info--otros-destinos {
  right: 15px;
  bottom: 50%;
  transform: translate(0, 50%); }

.body-proximos {
  background-image: url("../images/patterns/trama-body_dp.png");
  background-size: 440px 244px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: repeat-x;
  z-index: 3; }

@media (min-width: 992px) {
  .tours--proximos {
    width: 75%;
    float: right;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; } }

@media (min-width: 992px) {
  .filters--proximos {
    width: 23%;
    float: left; } }

.main-top {
  background-color: #d9f8ff;
  margin-bottom: 27px; }
  @media (min-width: 992px) {
    .main-top {
      padding-top: 30px; } }

.header-placeholder {
  height: 47px; }
  @media (min-width: 992px) {
    .header-placeholder {
      height: 81px; } }

.title-section {
  position: relative;
  min-height: 250px;
  z-index: 0;
  width: 100vw; }
  @media (min-width: 992px) {
    .title-section {
      width: 100%;
      min-height: 163px; } }
  .title-section__avion {
    width: 100vw;
    height: calc((100vw * 130) / 320);
    position: relative; }
    @media (min-width: 992px) {
      .title-section__avion {
        width: 40%;
        height: 163px;
        float: right; } }
    @media (min-width: 1200px) {
      .title-section__avion {
        width: 45%; } }
    .title-section__avion__content__color {
      background-color: #d9f8ff;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      z-index: 1; }
      @media (min-width: 992px) {
        .title-section__avion__content__color {
          height: 40%; } }
    .title-section__avion__content__deco {
      width: 100vw;
      height: calc((100vw * 130) / 320);
      background-image: url("../images/banners/decoracion_mb.png");
      background-position-x: center;
      background-position-y: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      z-index: 2;
      opacity: 1;
      position: absolute;
      bottom: 0;
      right: 0; }
      @media (min-width: 992px) {
        .title-section__avion__content__deco {
          width: 204px;
          width: 54%;
          max-width: 100%;
          background-image: url("../images/banners/trama.png");
          bottom: -11px; } }
    .title-section__avion__content__nubes {
      display: none; }
      @media (min-width: 992px) {
        .title-section__avion__content__nubes {
          background-image: url("../images/banners/nubes.png");
          background-position-x: center;
          background-position-y: 100%;
          background-repeat: no-repeat;
          background-size: 100% auto;
          z-index: 3;
          opacity: 1;
          position: absolute;
          width: 100%;
          bottom: -43px;
          right: 0;
          display: block;
          height: 119px; } }
    .title-section__avion__content__avion {
      width: 82.65vw;
      margin: 0 auto;
      height: calc((100vw * 193) / 640);
      min-height: 96px;
      background-size: contain;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      background-image: url("../images/banners/avion_mb.png"); }
      @media (min-width: 992px) {
        .title-section__avion__content__avion {
          width: 82.65%;
          height: auto;
          background-image: url("../images/banners/avion_dp.png"); } }
  .title-section__titles {
    height: 120.5px;
    background-color: #d9f8ff;
    color: #22275b;
    font-family: "RiftSoft", sans-serif;
    font-weight: 700;
    padding: 17px 20px;
    position: relative; }
    @media (min-width: 992px) {
      .title-section__titles {
        width: 60%;
        height: 163px;
        float: left;
        background: transparent;
        padding: 17px 0px; } }
    @media (min-width: 1200px) {
      .title-section__titles {
        width: 55%; } }
    .title-section__titles__color {
      background-color: #d9f8ff;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      z-index: 1;
      display: none; }
      @media (min-width: 992px) {
        .title-section__titles__color {
          display: block;
          height: 40%; } }
    .title-section__titles p {
      background-color: #22275b;
      color: white;
      font-size: 24px;
      line-height: 26.2px;
      display: inline;
      letter-spacing: 0.12px;
      padding: 0px 17px 0px 6.5px; }
      @media (min-width: 992px) {
        .title-section__titles p {
          display: inline-block;
          margin-top: 58px;
          opacity: 1;
          z-index: 3;
          position: absolute;
          font-size: 28px;
          left: 20px; } }
      @media (min-width: 1200px) {
        .title-section__titles p {
          left: 0; } }
    .title-section__titles h1 {
      font-size: 28px;
      line-height: 26.5px;
      letter-spacing: 0.23px;
      margin-top: 7px; }
      @media (max-width: 991px) {
        .title-section__titles h1 {
          max-width: 300px; } }
      @media (min-width: 992px) {
        .title-section__titles h1 {
          position: absolute;
          margin-top: 100px;
          z-index: 3;
          font-size: 40px;
          white-space: nowrap;
          left: 20px; } }
      @media (min-width: 1200px) {
        .title-section__titles h1 {
          left: 0; } }

.tours__categoria__header--proximos {
  border-bottom: 1.5px solid #00aeef; }
  .tours__categoria__header--proximos .tours__categoria__header__title {
    background: none;
    color: #00aeef;
    font-size: 22.5px;
    line-height: 26.2px; }
    @media (min-width: 992px) {
      .tours__categoria__header--proximos .tours__categoria__header__title {
        font-size: 30px;
        margin-top: 0px; } }
  .tours__categoria__header--proximos:hover {
    cursor: pointer; }

.ademas {
  background-color: #d9f8ff;
  padding-bottom: 48px;
  width: 100%;
  max-width: 100vw;
  padding-top: 26px; }
  @media (min-width: 992px) {
    .ademas {
      width: 75%;
      position: absolute;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 7px; } }
  .ademas__title {
    color: #22275b;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "RiftSoft", sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    margin: 0 auto;
    width: 90vw; }
    @media (min-width: 992px) {
      .ademas__title {
        max-width: 100%; } }

.ademas-item {
  color: #22275b;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 18.5px; }
  @media (min-width: 992px) {
    .ademas-item {
      box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
      max-width: 813.5px;
      margin-bottom: 23px;
      margin-top: 15px; } }
  .ademas-item__foto {
    background-image: url("../images/img/sku_mb.png");
    width: 90vw;
    height: calc((90vw * 332) / 598);
    position: relative; }
    @media (min-width: 992px) {
      .ademas-item__foto {
        height: 203.5px;
        float: left;
        width: 44%;
        max-width: 360px; } }
  .ademas-item__info {
    padding: 16px 10.5px 20px 5px;
    width: 90vw; }
    @media (min-width: 992px) {
      .ademas-item__info {
        float: left;
        width: 56%;
        padding-top: 14px;
        padding-left: 10.5px;
        max-width: 453.5px; } }
    .ademas-item__info__heading {
      border-bottom: 1.5px solid #eaf5f4; }
      @media (min-width: 992px) {
        .ademas-item__info__heading {
          border-bottom: none; } }
    .ademas-item__info__body {
      overflow: hidden;
      border-bottom: 1.5px solid #eaf5f4; }
      @media (min-width: 992px) {
        .ademas-item__info__body {
          border-bottom: none; } }
  .ademas-item__title-container {
    padding-left: 12.5px; }
    .ademas-item__title-container__title {
      font-family: "RiftSoft", sans-serif;
      font-weight: 700;
      font-size: 19px;
      max-width: 200px;
      margin-bottom: 15px; }
      @media (min-width: 992px) {
        .ademas-item__title-container__title {
          max-width: 100%;
          font-size: 22px;
          margin-bottom: 0px; } }
    .ademas-item__title-container__arrow {
      background-image: url(../../assets/images/icon/red-down.png);
      width: 13.5px;
      height: 7.5px;
      position: absolute;
      right: 18px;
      bottom: 15px; }
      @media (min-width: 992px) {
        .ademas-item__title-container__arrow {
          display: none; } }
      .ademas-item__title-container__arrow.isOpen {
        transform: rotateZ(180deg); }
  .ademas-item__description {
    padding-left: 12.5px;
    padding-top: 12px;
    padding-bottom: 12px; }
    @media (min-width: 992px) {
      .ademas-item__description {
        padding-top: 13.5px; } }
    .ademas-item__description__text {
      font-size: 13px; }
      @media (min-width: 992px) {
        .ademas-item__description__text {
          font-size: 14px;
          line-height: 16px;
          max-width: 363px; } }
  .ademas-item__prox {
    padding-top: 30px;
    padding-bottom: 11px;
    padding-left: 12.5px; }
    @media (min-width: 992px) {
      .ademas-item__prox {
        padding-bottom: 6px; } }
    .ademas-item__prox__text {
      font-family: "RiftSoft", sans-serif;
      font-weight: 700;
      color: #00aeef;
      font-size: 24px; }
      @media (min-width: 992px) {
        .ademas-item__prox__text {
          font-size: 37px; } }
  .ademas-item__more-info--mb {
    height: 44.5px;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding-right: 3px; }
    @media (min-width: 992px) {
      .ademas-item__more-info--mb {
        display: none; } }
  .ademas-item__more-info--dp {
    display: none; }
    .ademas-item__more-info--dp:hover {
      background-color: #FF7575; }
    @media (min-width: 992px) {
      .ademas-item__more-info--dp {
        display: inline;
        background-color: #ff5c5c;
        color: #ffffff;
        font-size: 17px;
        padding: 12.5px 27px;
        border-radius: 20px;
        position: absolute;
        bottom: 5px;
        right: 0;
        text-align: center; } }

.faq {
  padding-top: 80px; }

.faq_centered-container {
  background-color: #d9f8ff;
  padding: 125px 95px 40px;
  color: #00205f;
  font-family: 'RiftSoft', sans-serif;
  position: relative;
  font-weight: normal;
  padding-top: 100px; }

.faq__hero {
  width: 100%;
  height: 170px;
  background: url(../images/img/header-faq.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: absolute;
  top: -85px;
  left: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.faq_title {
  position: absolute;
  left: 0;
  top: -20px;
  font-weight: bold; }

.faq_title--highlight {
  background-color: #00205f;
  color: white;
  display: inline-block;
  font-size: 24px;
  padding: 2px 6px;
  line-height: 1.2; }

.faq_title--normal {
  padding: 10px 0px;
  font-size: 28px; }

.faq_container {
  background-color: white;
  margin: 0 0 35px 0;
  position: relative;
  box-shadow: 5px 5px 0px -1px #cce5ec; }

.faq_container-title {
  border: 1.2px solid #00205f;
  font-weight: bold;
  font-size: 22px;
  background: #6cefd6 url(../images/patterns/trama-body_dp.png);
  padding: 7px 32px;
  overflow: hidden;
  background-size: 440px 244px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: repeat-x; }

/* .faq_container-title::before {
  background-image: ;
} */
.faq_container-question {
  border: 1.2px solid #00205f;
  border-top: 0;
  padding: 28px 23px;
  font-weight: 500;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative; }

.faq_container-question:hover {
  cursor: pointer; }

.faq_container-question p {
  display: inline-block;
  font-size: 18px;
  overflow: hidden; }

.faq_container-answer {
  display: none;
  padding: 0 29px;
  overflow: hidden; }

.faq_container-answer p {
  overflow: hidden;
  padding: 20px 0 4px;
  line-height: 1.3;
  width: 100%;
  font-size: 14px; }

.faq_container-answer p span {
  font-weight: bold; }

.faq_arrow {
  float: right;
  height: 17px;
  width: 26px;
  padding: 6px 0; }

.faq_arrow img {
  height: 9px;
  width: 14px; }

.faq_vertical-transform {
  transform: rotateZ(180deg); }

.faq_contact-form {
  background-color: #d9f8ff;
  overflow: hidden;
  position: relative; }

.faq_contact-title {
  padding: 25px 0;
  font-size: 24px;
  font-weight: 500;
  background-color: #d9f8ff;
  overflow: hidden; }

.faq_contact-title span {
  font-size: 26px;
  font-weight: 700; }

.faq_contact-input {
  padding: 10px 2px;
  border: none;
  background-color: #d9f8ff;
  font-weight: 600;
  color: #00205f;
  width: 100%; }

::placeholder {
  color: #00205f; }

input:focus, textarea:focus {
  outline: none; }

.faq_input-email {
  background-color: #d9f8ff;
  display: inline-block;
  border-bottom: 2px solid #00205f;
  width: 48%;
  font-size: 16px; }

.faq_input-email:focus {
  background-color: white; }

.dropdown-country {
  float: right;
  width: 48%;
  position: relative;
  margin: 2px 0 0 0;
  font-size: 16px; }

.dropdown-country:not(.is-multiple)::after {
  border: 1px solid #00205f;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4; }

.dropdown-country select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  outline: none; }

.faq_input-message {
  padding: 42px 0;
  position: relative; }

.faq_input-message textarea {
  resize: none;
  width: 100%;
  padding: 25px 35px;
  background-color: white;
  min-height: 150px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif; }

#chars-left {
  float: right;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 0;
  position: absolute;
  bottom: 42px;
  right: 15px; }

#char-count {
  font-weight: 400; }

.faq_submit {
  background-color: #FF5C5D;
  color: white;
  max-width: 150px;
  border-radius: 40px;
  float: right;
  font-size: 16px;
  cursor: pointer; }

.faq_submit:hover {
  background: #FF7575; }

.faq_input-email input {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22.7px;
  font-weight: 600; }

.dropdown-country {
  margin: 0; }

.dropdown-country select {
  background: transparent;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  border-bottom: 2px solid #00205f;
  border-radius: 0;
  color: #00205f;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 2px;
  line-height: 22.7px;
  height: auto; }
  .dropdown-country select::-ms-expand {
    display: none; }

.dropdown-country select option {
  font-family: "Helvetica Neue", sans-serif;
  color: #00205f;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.7px; }

@media (min-width: 991px) and (max-width: 1050px) {
  .faq_container-question p {
    max-width: 90%; } }
@media (min-width: 991px) {
  .faq_title--highlight {
    font-size: 28px; }

  .faq_title--normal {
    font-size: 40px;
    padding: 16px 0; }

  .faq__hero {
    right: 0px;
    top: -85px;
    width: 100%;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH"; } }
@media (max-width: 991px) {
  .faq_centered-container {
    padding: 110px 12px 18px 12px; }

  .faq_title {
    position: relative;
    margin-bottom: 24px;
    top: 0px; }

  .faq_title p {
    font-size: 24px; }

  .faq_title span {
    font-size: 28px; }

  .faq_container-title {
    font-size: 16.5px; }

  .faq_container-question p {
    max-width: 80%; }

  .faq_contact-title {
    font-size: 26px; }

  .faq_contact-form {
    text-align: center; }

  .faq_input-email {
    width: 100%; }

  .dropdown-country {
    width: 100%; }

  input[type=submit] {
    float: none;
    font-size: 14px; }

  .faq_container-question {
    padding: 12px; }

  .faq_container-question, .faq_container-question p {
    font-size: 14px;
    line-height: 1.2; }

  .faq_container-answer {
    padding: 0px;
    font-size: 12px; }

  .faq_input-message textarea {
    padding: 12px 12px 35px 12px; }

  .faq_contact-form input, .faq_contact-form select, .faq_contact-form textarea {
    font-size: 14px; }

  .faq_input-email, .dropdown-country {
    float: none; }

  .dropdown-country {
    margin: 28px 0 0px; } }
.equipo__container {
  color: #22275b;
  text-align: center;
  font-family: 'RiftSoft';
  position: relative; }

.equipo__title {
  padding: 90px 0 25px 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase; }

.equipo__title span {
  text-decoration: underline;
  padding: 0 0 10px 0;
  font-weight: 700; }

.equipo__description {
  max-width: 75%;
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  padding: 0 0 40px 0; }

.equipo__description span {
  font-weight: bold; }

.equipo__slider-container {
  position: relative; }

.equipo__slider {
  text-align: center;
  max-width: 70vw;
  margin: 0 auto; }

.equipo__slider-item {
  max-width: 15vw;
  margin: 0 1.25vw; }

.equipo__slider__img {
  border-right: 1px solid #cae6e3; }

.equipo__slider-item img {
  display: block;
  border-radius: 50%; }

/* .equipo__slider-separador {
  height: 40%;
  width: 2px;
  background-color: black;
} */
.equipo__slider-text {
  padding: 30px 0 20px 0;
  font-weight: 700; }

.equipo__redes {
  text-align: center;
  padding: 20px; }

.equipo__red {
  color: #ff5c5c;
  padding: 5px 0;
  margin: 0 20px;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  letter-spacing: 0.13px; }

.equipo__red a {
  color: inherit;
  font-weight: bold; }

.equipo__red a span {
  line-height: 22px;
  vertical-align: middle; }

.equipo__red:hover {
  cursor: pointer; }

.equipo__red img {
  max-width: 22px;
  margin: 0 10px 0 0;
  vertical-align: middle; }

.equipo__blue-wave {
  position: absolute;
  bottom: 15px;
  left: -10vw; }

.equipo__blue-wave img {
  max-height: 50px; }

.equipo__single-hero-wave {
  position: absolute;
  bottom: 340px;
  right: -200px; }

.equipo__single-hero-wave img {
  max-height: 25px; }

.equipo__prev-arrow, .equipo__next-arrow {
  display: inline-block;
  height: 106px;
  width: 17px;
  cursor: pointer; }

.equipo__prev-arrow img, .equipo__next-arrow img {
  height: 106px;
  width: 17px; }

.equipo__prev-arrow {
  position: absolute;
  top: 3vw;
  left: 4%; }

.equipo__next-arrow {
  position: absolute;
  top: 3vw;
  right: 4%; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #22275b !important; }

@media (max-width: 991px) {
  .equipo__container {
    max-width: 100vw;
    overflow: hidden; }

  .equipo__title {
    font-size: 32px; }

  .equipo__title span {
    display: block; }

  .equipo__prev-arrow, .equipo__next-arrow {
    display: none; }

  .equipo__slider-item {
    max-width: 68vw;
    margin: 0 1vw; }

  .equipo__slider-text {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.17px; }

  .equipo__red {
    padding: 0 0 10px 0;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    display: inline-block; }
    .equipo__red span, .equipo__red img {
      vertical-align: middle; } }
@media (min-width: 992px) {
  .equipo__slider .owl-item {
    border-right: 1px solid #cae6e3; } }
/* waves */
@media (min-width: 992px) and (max-width: 1200px) {
  .equipo__blue-wave {
    left: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .equipo__blue-wave {
    bottom: 30px; } }
@media (max-width: 767px) {
  .equipo__blue-wave {
    position: absolute;
    left: -15vw;
    bottom: 230px; }

  .equipo__blue-wave img {
    max-height: 80px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .equipo__prev-arrow {
    left: 10%; }

  .equipo__next-arrow {
    right: 10%; } }
@media (min-width: 992px) {
  .owl-dots {
    display: none; } }

/*# sourceMappingURL=app.css.map */
