.ver-mas {
  text-align: center;

  &--dp {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &--mb {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }



  &__btn {
    border: 2px solid $color-6;
    font-size: 13px;
    letter-spacing: 0.16px;
    border-radius: 20px;
    color: $color-6;
    font-family: $font-3;
    padding: 5px 35px;
    display: inline-block;
    font-weight: 700;
  }
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.42857143;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;

  &--red, &--primary {
    border-color: $color-6;
    background: $color-6;
    color: #FFF;
    &:hover {
      background: #FF7575;
    }
  }
  &--secondary {
    background: transparent;
    color: #FFF;
    border-color: #FFF;
  }
}

// background-color: #ff5c5c;
// color: white;
// border-radius: 20px;
// padding: 12.5px 27px;
// display: none;
// font-size: 16px;
// margin-right: 10px;