.custom-checkbox {
  cursor: pointer;
  position: relative;
  input {
    display: none;
  }
  input + span:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    width: 20px;
    line-height: 20px;
    content: "\f0c8";
  }

  input:checked + span:after { content: "\f14a";letter-spacing: 3px; } /* checked icon */

  .custom-checkbox--right {
    padding-right: 20px;
  }
}

.js-custom-checkbox {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  &:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
  }

  &.js-custom-checkbox--checked {
    &:after {
      content: "\f14a";
    }
  }
}

