.filters {
  background-color: $color-3;
  color: #FFF;
  padding: 0px 24px 24px;
  max-width: 100%;
  position: relative;

  &.sticky {
    position: fixed;
    z-index: 2000;
    top: 0px;
    width: 100vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  }

  &__trigger_modal {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: block;

  }
  &__modal {
    background-color: $color-3;
    position: fixed;
    padding: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    display: none;

    &__close {
      position: absolute;
      right: 24px;
      top: 24px;
    }
    .filters--modal--open & {
      display: block;
    }
  }
  &__section {
    padding: 24px 0 0;
    border-bottom: 1px solid #31bef3;

    &__title {
      font-weight: 20px;
      margin-bottom: 12px;
      text-align: center;
    }
  }
  &__options {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    &.filters--mobile--slider {
      margin: 0px 30px;
      width: calc(100% - 60px);
      z-index: 1;
    }
  }

  &__option {
    cursor: pointer;
    position: relative;

    border-top: 1px solid #31bef3;
    padding: 25px 25px;

    .filters--mobile--slider & {
      padding: 0;
      border: none;
    }

    a {
      display: block;
      padding-right: 40px;
    }
    &.is-active {
      font-weight: bold;
    }

    &.with-checkbox {
      &:before {
        float: right;
        font-family: "Font Awesome 5 Free";
        font-size: 18px;
        content: "\f0c8";
      }
    }

    &.with-checkbox.is-active {
      &:before {
        font-weight: bold;
        content: "\f14a";
      }
    }

    &.is-carousel-enabled {
      a {
        text-align: center;
      }
    }
  }

  &__actions {
    padding: 24px 0;
    text-align: center;

    .button {
      margin: 0 8px;
    }
  }

  &__nav {
    position: relative;
    z-index: 10;
    &__arrow {
      position: absolute;
      top: 0px;
      height: 24px;
      line-height: 24px;
      &.is-left {
        left: 0px;
      }
      &.is-right {
        right: 0px;
      }
    }
  }

  @media(min-width: 992px) {
    &__trigger_modal {
      display: none;
    }
    &__section {
      padding: 24px 12px;
      &__title {
        text-align: left;
      }
    }

    &__modal {
      position: relative;
      left: 0;
      top: 0;
      padding: 0;
      width: 100%;
      height: auto;
      z-index: auto;
      display: block;
      &__close {
        display: none;
      }
    }
    &__options {
      &.filters--mobile--slider {
        margin: 0;
        width: 100%;
      }
    }
    &__option {
      border: none;
      padding: 0;

      &:before {
        display: none;
      }
      &:hover {
        color: #262e69;
        transition: color 0.5s;
      }
      &.is-carousel-enabled {
        a {
          text-align: left;
        }
      }
    }
    &__actions {
      display: none;
    }
    &__nav {
      display: none;
    }
  }
}

