.section-galeria {
  padding: 45px 0px;
  position: relative;

  @include media-breakpoint-down(lg) {
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 67%;
  }

  & h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 31px;
    font-family: $font-2;
    color: $color-3;
    padding-left: 25px;

    @include media-breakpoint-up(lg) {
      letter-spacing: 0.12px;
      margin-bottom: 17px;
      padding-left: 0;
    }
  }

  & .galeria {
    width: 100%;
    min-height: 1px;
    height: 273.5px;

    @include media-breakpoint-down(lg) {
      max-width: 400px;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      height: 353px;
    }

    &__fs {
      position: absolute;
      color: #ffffff;
      display: none;
      z-index: 2;
      left: 83%;
      top: 50%;
      transform: translate(-200%, -50%);
      font-size: 21.5px;

      &:hover {
        cursor: pointer;
      }

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }

    &__featured {
      float: left;
      min-height: 1px;
      width: 100%;
      height: 100%;

      @include media-breakpoint-up(lg) {
        width: 83%;
        margin-right: 2%;
      }

      & div {
        background-position-x: 0;
        background-position-y: 0;
        background-size: cover;
        height: 273.5px;

        @include media-breakpoint-up(lg) {
          height: 353px;
        }
      }

    }

    &__nav {
      float: left;
      width: 15%;
      max-width: 100px;
      display: none;
      height: 100%;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      & div {
        width: 100%;
        height: 55px;
        margin-bottom: 19.5px;

        &:hover {
          cursor: pointer;
        }

        &:last-child {
          border: 1.5px solid #22275b;
          margin-bottom: 0px;
          text-align: center;
          position: relative;

          & a {
            position: absolute;
            color: #22275b;
            white-space: nowrap;
            font-size: 13px;
            line-height: 11.43px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
          }
        }
      }
    }

    & .owl-dots {
      max-height: 30px;
      @include media-breakpoint-up(lg) {
        display: none;
      }

      & .owl-dot {
        & span {
          background: none;
          border: 2px solid $color-1;
        }

        &.active {
          & span {
            background-color: $color-1;
          }
        }
      }
    }
  }

  & .ver-mas--galeria {
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 15px;
    transform: translate(0, 5px);

    @include media-breakpoint-up(lg) {
      display: none;
    }

    & .ver-mas__btn {
      padding: 5px 30px;
    }
  }

}