.paquete {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  &:last-child{
    margin-bottom: 30px;
  }

  &__data {
    padding: 16px 10.5px 12px 5px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 16px 13px 12px 13px;
      float: left;
      width: 65%;
      height: 203.5px;
    }
  }

  &__foto {
    width: 90vw;
    position: relative;
    height: calc((90vw * 332) / 589);
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      width: 35%;
      float: left;
      height: 203.5px;
    }

    &__icons {
      position: absolute;
      top: 15px;
      right: 18px;

      &__icon {
        width: 37px !important; /* owl carousel messing with this */
        display: inline-block !important;
      }
    }
  }

  &__title-wrapper {
    color: #00adee;
    min-height: 45px;

    &__icon {
      width: 46px;
      background-size: contain;
      position: relative;
      width: 28px;
      height: 21.25px;
      float: left;
      width: 10%;

      @include media-breakpoint-up(lg) {
        position: relative;
        width: 46px;
        height: 31px;
        float: left;
      }
    }
  }

  &__title {
    padding-left: 33.5px;
    font-family: $font-2;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.20px;
    line-height: 19.5px;
    padding-left: 5px;
    float: left;
    height: 31px;
    width: 90%;
    max-width: 270px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 5.5px;
      font-size: 24px;
      float: left;
      line-height: 31px;
      padding-left: 5px;
      max-width: none;
    }

    & span {
      font-weight: 700;
    }
  }

  &__tiempo {
    font-family: $font-3;
    font-size: 13px;
    color: $color-1;
    letter-spacing: 0.13px;
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px;

    @include media-breakpoint-up(lg) {
      float: left;
      padding: 8.5px 0px 11.5px 0px;
      width: 40%;
      font-size: 14px;
    }

    & .wrapper {
      position: relative;
    }

    &__fechas {
      font-weight: 700;
    }

    &__arrow {
      background-image: url('../../assets/images/icon/red-down.png');
      width: 13.5px;
      height: 7.5px;
      position: absolute;
      right: 0;
      bottom: 3px;

      &.isOpen {
       transform: rotateZ(180deg);
      }

      @include media-breakpoint-up(lg) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      &--open {
        background-image: url('../../../assets/images/icon/red-up.png');
      }
    }
  }

  &__inicio {
    font-family: $font-3;
    font-size: 13px;
    color: $color-1;
    letter-spacing: 0.13px;
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px;

    &--intermedia {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      float: right;
      padding: 0;
      padding: 8.5px 0px 11.5px 0px;
      width: 60%;
      font-size: 14px;
    }

    &__lugar {
      font-weight: 700;
    }
  }

  &__lugares-disponibles {
    border-bottom: 1.5px solid #eaf5f4;
    padding: 8.5px 17px 11.5px 17px;
    color: $color-1;

    &--mb {
      @include media-breakpoint-up(lg) {
        display: none;
      }
      &--intermedia {
        display: none;
      }
    }

    &--dp {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    & div {
      margin: 0 auto;
      max-width: 202.5px;
      text-align: center;

      @include media-breakpoint-between(sm, lg) {
        margin: 0;
      }
    }

    &__icon {
      width: 33.5px;
      float: left;
      margin-right: 15px;
      vertical-align: baseline;
    }

    &__cantidad {
      font-family: $font-2;
      font-size: 34px;
      float: left;
      margin-right: 12.5px;
      display: inline;
      vertical-align: baseline;

      & span {
        font-weight: 700;
      }
    }

    &__leyenda {
      font-family: $font-3;
      font-size: 13px;
      letter-spacing: 0.14px;
      float: left;
      line-height: 17px;
      font-weight: 700;
      text-align: left;


      @include media-breakpoint-up(lg) {
        line-height: 15px;
        display: inline;
        vertical-align: baseline;
        padding-top: 3px;
      }
    }
  }

  &__precios {
    background-color: #ffffff;
    padding: 15px 0px 10px 8px;
    float: left;

    @include media-breakpoint-between(sm, lg) {
      padding: 15px 0px 10px 0px;
      margin-left: 17px;
    }

    @include media-breakpoint-up(lg) {
      padding: 15px 0px 10px 0px;
    }

    &--color {
      background-color: $color-3;
      float: none;
      padding: 15px 0px 10px 21px;

      @include media-breakpoint-between(sm, lg) {
        margin-left: 0px;
      }

      @include media-breakpoint-up(lg) {
        padding: 25px 36px;
      }
    }

    &__precio {
      float: left;
      max-width: 200px;

      &--margin-right {
        margin-right: 8px;

        @include media-breakpoint-up(lg) {
          margin-right: 15px;
        }
      }

      &__title {
        margin-bottom: 10px;
        font-size: 10px;
        letter-spacing: 0.13px;
        color: $color-1;
        font-family: $font-3;

        @include media-breakpoint-up(lg) {
          font-size: 12px;
        }

        &--color {
          color: white;
        }

        &--ahora {
          font-weight: bold;
          color: $color-6;
        }
      }

      &__valores {
        font-family: $font-2;
        font-weight: 700;

        &__costo {
          text-transform: uppercase;
          font-size: 24px;
          letter-spacing: 0.015px;
          position: relative;
          color: $color-1;

          &--color {
            color: #ffffff;
          }

          &--tachado:before {
            content: "";
            background-image: url('./../images/shapes/tachar.svg');
            position: absolute;
            bottom: 2%;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
          }
        }

        &__impuestos {
          font-size: 17.5px;
          color: $color-3;
          letter-spacing: 0.32px;

          &--color {
            color: $color-1;
          }
        }
      }
    }

  }

  &__consultas {
    background-color: $color-7;
    padding: 17px 15px;
    text-align: center;
    color: white;


    @include media-breakpoint-up(lg) {
      text-align: center;
      padding: 27px 45px;
      height: 106.5px;
    }

    & p {
      font-size: 13px;
      float: left;
      letter-spacing: 0.14px;
      font-family: $font-3;
      line-height: 31px;

      @include media-breakpoint-up(lg) {
        float: none;
        margin-bottom: 10px;
        line-height: 14px;
      }

      & span {
        font-weight: 700;
        font-family: $font-3;
      }
    }

    &__icons {
      float: right;
      margin-right: 5px;

      @include media-breakpoint-up(lg) {
        float: none;
      }

      & a {
        color: white;

        & i {
          margin: 0 2.5px;
          font-size: 32px;

          @include media-breakpoint-up(lg) {
            margin-right: 5px;
            font-size: 22px;
          }
        }

        & span {
          display: none;

          @include media-breakpoint-up(lg) {
            display: inline;
          }
        }
      }
    }
  }

  &__info {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;

    @include media-breakpoint-between(sm, lg) {
      margin-right: 17px;
    }

    &__link {

      &--dp {
        background-color: $color-6;
        color: white;
        border-radius: 20px;
        padding: 12.5px 27px;
        display: none;
        font-size: 16px;
        margin-right: 10px;

        &:hover {
          background-color: #FF7575;
        }

        @include media-breakpoint-up(lg) {
          display: inline-block;
        }
      }

      &--mb {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    &__icon {
      width: 44.5px;
      height: auto;
    }
  }

  &__proximamente {
    height: 66.5px;
    padding-top: 15px;

    &__title {
      margin-bottom: 10px;
      font-size: 12px;
      letter-spacing: 0.13px;
      color: $color-1;
      font-family: $font-3;
    }

    &__leyenda {
      font-family: $font-2;
      font-size: 30px;
      color: $color-3;
      font-weight: 700;
      line-height: 29.38px;
      letter-spacing: 0.15px;
    }
  }

}

.paquete__lugares-disponibles--dp {
  padding: 0;
  border-bottom: none;
  float: left;
  margin-left: 50px;
  position: relative;
  width: 40%;
  height: 88px;

  & .clearfix.center {
    max-height: 30.5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 11px;



    & img, p {
      margin-top: auto;

    }
  }
}
