.dropdown {
  position: relative;
  &::after {
    border: 2px solid $color-6;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 5;
  }
}


.dropdown select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  height: 2.25em;
  line-height: 1.5;
  position: relative;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  width: 100%;
  outline: none;
  padding-left: 18px;

  &::-ms-expand {
    display: none;
  }
}

.select-section__dropdown {
  position: relative;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);

  select {
    background-color: #e5f7fe;
    border: none;
    height: 52px;
    color: $color-1;
    font-weight: 700;
    font-size: 13px;
    padding-right: 2.5em;
  }
}



.dropdown-float{
  @include media-breakpoint-up(lg) {
    float: left;
    width: 48%;
  }

}

.select-section {
  text-align: center;
  padding: 50px 0px 0px 0px;
  max-width: 100%;

  & h2 {
    font-size: 26px;
    margin: 0px 0px 28px 0px;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__groups {

    @include media-breakpoint-up(lg) {
      width: 100%;
    }
  }

  &__group {
    margin-bottom: 26px;
    text-align: left;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0px;
    }

    &:last-child{
      margin-bottom: 5px;
    }

    &__label {
      font-size: 13px;
      margin-bottom: 10.5px;
      margin-left: 19px;
    }

    &__text {
      margin-top: 19px;
      padding: 0px 15px;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.13px;

      @include media-breakpoint-up(lg) {
        float: left;
        width: 60%;
        margin-top: 0px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.8px;
      }
    }

    &__info {
      margin-top: 10px;

      & div {
        float: left;
        margin: 0px 17px;
        display: table;

        @include media-breakpoint-up(lg) {
          margin: 0px 12px;
          margin-left: 0px;
        }

        &:nth-child(2) {
          float: right;

          @include media-breakpoint-up(lg) {
            float: left;
          }
        }

        & a {
          & span {
            font-size: 13px;
            font-weight: 700;
            vertical-align: middle;
            display: table-cell;
            color: $color-1;
          }

          & i {
            font-size: 22px;
            color: $color-6;
            line-height: 25px;
            margin-left: 6px;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      float: left;
      &:not(:last-child) {
        margin-right: 2%;
      }
      &#select-pasajeros {
        width: 24%;
      }

      &#select-lugar {
        width: 40%;
      }

      &#select-lapso {
        width: 32%;
      }

      &#select-transporte {
        width: 100%;

        & .select-section__dropdown {
          width: 40%;
        }
      }

      &#select-alojamiento {
        width: 40%;
      }

      &#select-habitacion {
        width: 30%;
      }

      &#select-pension {
        width: 26%;
      }
    }
  }

}