.section-test {
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0px;
  background-color: #ffffff;

  @include media-breakpoint-up(lg) {
    width: 75%;
  }
}
.sku {
  color: $color-1;
  font-family: $font-3;
  font-size: 13px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    box-shadow: 3.5px 3.5px 0 rgba(0, 0, 0, 0.07);
    max-width: 813.5px;
    margin-bottom: 23px;
  }

  &__foto {
    background-image: url('../images/img/sku_mb.png');
    width: 90vw;
    height: calc((90vw * 332) / 598);
    position: relative;

    @include media-breakpoint-up(lg) {
      height: 164px;
      float: left;
      width: 35%;
      max-width: 290px;
    }

    &__icons {
      position: absolute;
      top: 15.5px;
      right: 20px;

      & img {
        height: 37px;
        margin: 0 2px;
      }
    }
  }

  &__info {
    padding: 16px 10.5px 0px 5px;
    width: 90vw;
    @include media-breakpoint-up(lg) {
      float: left;
      width: 65%;
      padding-top: 14px;
      padding-left: 10.5px;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 12px;
      padding-right: 18.5px;
    }

    &__body {
      overflow: hidden;
    }

    &__footer {
      padding-top: 11.5px;
      padding-bottom: 17px;
      @include media-breakpoint-up(lg) {
        padding-top: 9px;
        padding-bottom: 11px;
      }
    }
  }

  &__arrow {
    background-image: url(../../assets/images/icon/red-down.png);
    width: 13.5px;
    height: 7.5px;
    position: absolute;
    right: 18px;
    bottom: 15px;
    @include media-breakpoint-up(lg) {
      display: none;
    }

    &.isOpen {
      transform: rotateZ(180deg);
    }
  }
}

.sku__title-container {
  margin-bottom: 8.5px;
  padding-left: 11px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 10px;
    padding-left: 8px;
  }

  &__icon {
    background-image: url('../images/icon/icon-tour-destino.png');
    width: 25px;
    height: 22px;
    float: left;
    margin-bottom: 20px;
    margin-right: 7.5px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0px;
    }

  }
  &__title {
    font-family: $font-2;
    font-size: 21px;
    line-height: 20px;
    font-weight: 700;
    color: $color-3;
    float: left;
    padding-top: 2px;
    // max-width: 170px;

    &-icon {
      height: 22px;
      margin-right: 6px;
      vertical-align: middle;
    }
    & span {
      font-weight: 400;
    }

    @include media-breakpoint-up(lg) {
      max-width: none;
      font-size: 22px;
      line-height: 24.5px;
      padding-top: 0px;
    }
  }
}

.sku__time {
  font-size: 13px;
  padding-left: 17px;
  border-bottom: 1.5px solid#eaf5f4;
  padding-bottom: 7.5px;

  @include media-breakpoint-up(lg) {
    float: left;
    width: 42%;
    max-width: 408px;
    height: 40.5px;
    padding-left: 8px;

  }
  @include media-breakpoint-up(xxl) {
    font-size: 14px;
  }

  &__dates {
    font-weight: 700;
    @include media-breakpoint-up(lg) {
      white-space: nowrap;
    }
  }
}

.sku__inicio {
  font-size: 13px;
  border-bottom: 1.5px solid#eaf5f4;
  padding-left: 17px;
  padding-top: 8.5px;
  padding-bottom: 11.5px;

  @include media-breakpoint-up(lg) {
    float: left;
    width: 58%;
    padding-top: 0;
    white-space: nowrap;
    height: 40.5px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 14px;
  }

  &__place {
    font-weight: 700;
  }
}

.sku__seats {
  font-weight: 700;
  border-bottom: 1.5px solid#eaf5f4;
  padding-top: 10.5px;
  padding-bottom: 9px;
  padding-left: 41px;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &__icon {
    height: 27.2px;
    margin-right: 15px;
  }
  &__number {
    font-family: $font-2;
    font-size: 34px;
    margin-right: 10px;

    & span {
      font-weight: 400;
    }
  }
  &__label {
    font-size: 13px;
    width: 74px;
    white-space: normal;
    display: inline-block;
    text-align: left;
  }

  &--vertical {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      max-width: 110px;
      padding-left: 0px;
      float: left;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 13px;
    }
    &__icon {
      display: block;
      height: 13px;
      margin-bottom: 2px;
    }
    &__number {
      display: block;
      font-size: 24px;

    }
    &__label {
      white-space: nowrap;
      font-size: 11px;
    }
  }
}

.sku__price {
  float: left;
  margin-right: 8px;
  padding-left: 8px;

  @include media-breakpoint-up(xxl) {
    margin-right: 17px;
  }
  &__label {
    font-size: 10px;
    @include media-breakpoint-up(lg) {
      font-size: 12px;
    }

    &--current {
      color: $color-6;
    }
  }
  &__cost {
    font-family: $font-2;
    font-weight: 700;
    font-size: 24px;

    &--old {
      position: relative;
      &::before{
        content: "";
        background-image: url(./../images/shapes/tachar.svg);
        position: absolute;
        bottom: 2%;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
  &__tax {
    font-family: $font-2;
    font-weight: 700;
    color: $color-3;
    font-size: 17.5px;

  }
}

.sku__more-info {

  &--dp {
    display: none;

    &:hover {
      background-color: #FF7575;
    }

    @include media-breakpoint-up(lg) {
      display: inline;
      background-color: $color-6;
      color: #ffffff;
      font-size: 17px;
      padding: 12.5px 27px;
      border-radius: 20px;
      position: absolute;
      bottom: 12px;
      right: 0;
      text-align: center;
    }
  }

  &--mb {
    height: 44.5px;
    position: absolute;
    bottom: 17px;
    right: 0;
    padding-right: 3px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

