.tags {
  @extend .clearfix;
  &__tag {
    display: block;
    float: left;
    background: $color-6;
    min-height: 24px;
    padding: 5px 0px;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    margin: 0px 12px 12px 0px;
    cursor: pointer;
    white-space: nowrap;

    &__text {
      vertical-align: middle;
      padding: 0 10px;
      display: inline-block;
      border-left: 1px solid #FFF;
    }
    &__close {
      display: inline-block;
      padding-top: 1px;
      padding: 0 6px 0 10px;
      vertical-align: middle;
    }

    &:hover {
      background-color: #f54e4e;
      transition: background-color 0.5s;
    }

  }
}
