@mixin media-breakpoint-down($bp) {
  @media (max-width: (map-get($breakpoints, $bp) - 1)) {
    @content;
  }
}

@mixin media-breakpoint-up($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

@mixin media-breakpoint-between($min, $max) {
  @media (min-width: map-get($breakpoints, $min)) and (max-width: (map-get($breakpoints, $max) - 1)) {
    @content;
  }
}

/*----------------*/
/* HELPER CLASSES */
/*----------------*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.relative {
  position: relative;
}

.center {
  margin: 0 auto;
}