/*-------------*/
/* BREAKPOINTS */
/*-------------*/
$breakpoints: (
  xs: 475px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300,
  xxxl: 1400,
);


/*-------*/
/* FONTS */
/*-------*/
$font-1: 'Helvetica', sans-serif;
$font-2: 'RiftSoft', sans-serif;
$font-3: 'Helvetica Neue', sans-serif;

/*--------*/
/* COLORS */
/*--------*/
$color-1: #22275b; //azul oscuro
$color-2: #6cefd6; //turquesa
$color-3: #00aeef; //celeste oscuro
$color-4: #a9ccea; //azul claro
$color-5: #d9f8ff; //celeste claro
$color-6: #ff5c5c; //rojo
$color-7: #00205f;


